Flask==1.1.2
Jinja2==2.11.3
MarkupSafe==1.1.1
SPARQLWrapper==1.8.5
Werkzeug==1.0.1
click==7.1.2
isodate==0.6.0
itsdangerous==1.1.0
neo4j
networkx
pyparsing==2.4.7
rdflib==5.0.0
six==1.15.0
uvicorn==0.12.2
uwsgi
uwsgitop
wheel