# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output - usually a bad idea to keep this in Git
*.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# directories
data/
open_ie/
politics/classifier/plots/
politics/classifier/resources/
politics/classifier/trained_models/
politics/wikidata/wiki_jsons/