# PyCharm and MacOSx stuff
.DS_Store
.idea

# Python cache
__pycache__/

# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output - usually a bad idea to keep this in Git
*.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# project specific directories + files
data/
old_ttls/
open_ie/
politiquices/classifiers/entity_linking/wiki_jsons/
politiquices/classifiers/news_titles/experiments/
politiquices/classifiers/news_titles/resources/
politiquices/classifiers/news_titles/trained_models/