# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output - usually a bad idea to keep this in Git
*.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# directories
data/
open_ie/
politiquices/classifiers/news_titles/experiments/
politiquices/classifiers/news_titles/resources/
politiquices/classifiers/news_titles/trained_models/
politiquices/classifiers/entity_linking/wiki_jsons/