Keras==2.3.1
SPARQLWrapper==1.8.5
elasticsearch>=7.0.0,<8.0.0
fastapi
joblib==0.15.1
jsonlines
matplotlib
mmh3
networkx
nltk==3.5
numpy==1.18.4
newspaper3k
pydantic
requests
scikit-learn==0.23.1
spacy==3.0.0
tensorflow==2.2.0
uvicorn