{% extends 'base.html' %}

{% block title %} Sobre {% endblock %}

{% block body %}

<br><br>

<center>
    <img src="static/images/politiquices.png" class="figure-img img-fluid rounded" width="300" height="375">
</center>

<br><br>

<div id="outer" class="container d-flex align-items-center justify-content-center">

    <div id="inner" class="w-75 p-2" align="left">

        <p>O politiquices.pt é um projecto que tem como base nos títulos de vários artigos de
            notícias recolhidos pelo <a href="https://www.arquivo.pt.">arquivo.pt</a></p>

        <p>Os artigos recohidos são pré-processados de maneira a que determinadas entidades políticas
            sejam identificadas e que, caso esteja presente, as relações políticas de acusação
            ou de suporte sejam também identificadas.</a></p>

    <p align="left">Tecnologias e bibliotecas de software usadas:</p>
     <ul>
        <li><a href="https://www.python.org/">Python</a></li>
        <li><a href="https://keras.io/">Keras</a></li>
        <li><a href="https://spacy.io/">SpaCy</a></li>
        <li><a href="https://www.w3.org/TR/rdf-sparql-query/">SPARQL</a></li>
        <li><a href="https://www.wikidata.org">Wikidata - the free knowledge base</a></li>
        <li><a href="https://jena.apache.org/">Apache Jena</a></li>
        <li><a href="https://flask.palletsprojects.com">Flask</a></li>
        <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
    </ul>
 </div>
</div>

<br><br>


{% endblock %}