{% extends 'base.html' %}

{% block title %} Sobre {% endblock %}

{% block body %}


<div id="container" class="container d-flex align-items-center justify-content-center">

    <div id="inner" class="w-75 p-2" align="left">

        <br>

        <center><h4><b>Introdução</b></h4></center>


        <p>O Politiquices dá a possibilidade de explorar e analisar as relações de apoio e oposição
            entre personalidades políticas expressas em títulos de notícias. As personalidades envolvidas
            são associadas às suas entradas na <a href="https://www.wikidata.org">Wikidata</a>. Deste modo,
            informação associada à personalidade (e.g.: filiação política, cargos políticos, etc.)
            pode ser usada na análise das relações extraídas.</p>

        <p>Este processo resulta num grafo ligando personalidades políticas através de uma relação de
            oposição ou apoio através de <a href="https://www.arquivo.pt">notícias arquivadas</a>. O
            grafo é indexado num <a href="https://jena.apache.org/documentation/fuseki2/index.html">motor de SPARQL</a>
            permitindo depois fazer diferentes interrogações usando toda informação contida no grafo.</p>

        <br>

        <center><h4><b>Download do Grafo</b></h4></center>

        <p>É possível fazer o download do grafo e usá-lo localmente ou integrá-lo com outras aplicações.
            <ul>
              <li>Versao mais recente do grafo: <a href="">politiquices_2020-12-28.ttl</a></li>
              <li>Como o indexar o grafo num motor SPARQL: <a href=""> Fuseki Tutorial</a></li>
              <li>Exemplo de interrogações ao grafo: <a href="https://github.com/davidsbatista/politiquices/blob/master/politiquices/webapp/SPARQL.MD">SPARQL queries</a></li>
            </ul>
        </p>

        <br>

        <center><h4><b>Contribuir para o projecto</b></h4></center>

        <p>A <a href="https://www.wikidata.org">Wikidata</a> é uma base de conhecimento <a href="https://www.wikidata.org/wiki/Wikidata:Introduction">
            estruturada, aberta e colaborativa</a> mantida através da participação de vários editores.
            Existem personalidades políticas que não têm uma entrada na Wikidata, e há outras para as
            quais a informação está incompleta, isto poderá ser completado recorrendo a diversas fontes de dados:</p>
        <ul>
            <li><a target="_blank" href="https://www.parlamento.pt/Cidadania/Paginas/DARegistoBiografico.aspx">Registo biográfico dos deputados para Legislaturas da Assembleia da República (JSON)</a></li>
            <li><a target="_blank" href="https://www.portugal.gov.pt/pt/gc22/governo/governos-anteriores">Lista de Governos da República Portuguesa</a></li>
        </ul>
    </div>

</div>

{% endblock %}