{% extends 'base.html' %}

{% block title %} Sobre {% endblock %}

{% block body %}

<br><br>

<center>
    <img src="static/images/politiquices.png" class="figure-img img-fluid rounded" width="300" height="375">
</center>

<br>

<div id="outer" class="container d-flex align-items-center justify-content-center">

    <div id="inner" class="w-75 p-2" align="left">

        <h5><b>Introdução</b></h5>

        <p>O politiquices.pt é um projecto que tem como base os títulos de artigos de
            notícias recolhidos pelo <a href="https://www.arquivo.pt">arquivo.pt</a>.</p>

        <p>Os artigos recolhidos são pré-processados de modo a que sejam identificadas no título
            personalidades  relevantes da política portuguesa e, caso existam, as relações de
            acusação/oposição ou defesa/suporte.</p>

        <p>As personalidades políticas identificadas são associadas ao seu  identificador na
            <a href="https://www.wikidata.org">wikidata.org</a>, de modo a que a informação relativa
            a essa personalidade possa ser associada, enriquecendo as relações com outros factos,
            como: afiliação política, cargos políticos, área de formação, profissão, etc.

        <p>Este processo resulta num grafo ligando artigos de notícias do <a href="https://www.arquivo.pt">arquivo.pt</a>
           com as personalidades políticas mencionadas, as relações expressas nos artigos, e
           outros factos relativos às personalidades políticas.</p>

        <p>Este grafo é indexado num motor de SPARQL permitindo depois fazer várias perguntas
            usando toda informação contida no grafo.</p>

        <br>

        <h5><b>Completar informação</b></h5>

        <p>Os factos e imagems relativos às personalidades contidas no politiquices.pt são extraídos
            da <a href="https://www.wikidata.org">wikidata.org</a>. A Wikidata é base de conhecimento:
            <a href="https://www.wikidata.org/wiki/Wikidata:Introduction">estruturada, aberta e
            colaborativa</a>.
        </p>

        <p>Os dados podem ser lidos por software como por humanos, e a informação é continuamente
            actualizado através da participação de vários editores.
        </p>

        <p>Há personalidades que ocorrem com frequência nas notícias que não estão presentes,
            há outras para as quais a informação está incompleta, por exemplo,
            <a target="_blank" href="/complete"> não têm uma imagem</a>.
        </p>

        <p>Para outras, informação como os cargos públicos, ocupação profisional, etc. poderá ser
            completada recorrendo a diversas fontes de dados:
            <ul>
                <li><a target="_blank" href="https://www.parlamento.pt/DeputadoGP/Paginas/Deputados_ef.aspx">Deputados no Parlamento</a></li>
                <li><a target="_blank" href="https://www.portugal.gov.pt/pt/gc22/governo/governos-anteriores">Lista de Governos Portugueses</a></li>
                <li><a target="_blank" href="https://demo.cratica.org/">Projecto Demo.cratica</a></li>
                <li><a target="_blank" href="http://casacomum.org/cc/projeto">Portal Casa Comum</a></li>
                <li><a target="_blank" href="http://www.politicaparatodos.pt/">Projecto 'Politica Para Todos'</a></li>
            </ul>
        </p>

        <br><br>

        <h5><b>Tecnologias e bibliotecas de software usadas:</b></h5>
        <ul>
            <li><a href="https://www.python.org/">Python</a></li>
            <li><a href="https://keras.io/">Keras</a></li>
            <li><a href="https://spacy.io/">SpaCy</a></li>
            <li><a href="https://www.w3.org/TR/rdf-sparql-query/">SPARQL</a></li>
            <li><a href="https://github.com/elastic/elasticsearch">ElasticSearch</a></li>
            <li><a href="https://www.docker.com/">Docker</a></li>
            <li><a href="https://jena.apache.org/">Apache Jena</a></li>
            <li><a href="https://www.wikidata.org">Wikidata - the free knowledge base</a></li>
            <li><a href="https://flask.palletsprojects.com">Flask</a></li>
            <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
        </ul>

    </div>

</div>

<br><br>

{% endblock %}