{% extends 'base.html' %}

{% block title %} Entidades {% endblock %}

{% block body %}


<table>
{% for tmp in items|batch(7) %}
<tr>
    {% for item in tmp %}
    <td>
    <figure class="figure">
        <a href=/entity?q={{item.wikidata_id}}>
            <img src={{item.image_url}} class="figure-img img-fluid rounded" width="120" height="150">
        </a>
        <figcaption class="figure-caption" style="text-align:center;">
            <a href=/entity?q={{item.wikidata_id}}>{{item.name}}</a>
        </figcaption>
        <center>{{item.nr_articles}} articles</center>
    </figure>
    </td>
    {% endfor %}
</tr>
{% endfor %}
</table>

{% endblock %}