{% extends 'base.html' %}

{% block title %} Personalidades {% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h4><b>Personalidades Políticas</b></h4>
    </header>

    {% for tmp in items|batch(4) %}
      <div class="row text-center">
          {% for item in tmp %}
            <div class="col-lg-3 col-md-6 mb-4">
                <a style="display: flex; flex-direction: column; align-items: center; justify-content: center;" href="/entity?q={{item.wikidata_id}}" class="custom-card">
                <div class="card h-100">
                    <center>
                        <img class="figure-img img-fluid rounded" src="{{item.image_url}}" width="120" height="150" alt="">
                    </center>
                    <div class="card-body">
                        <h6 class="card-title">{{item.name}}</h6>
                        <center>{{item.nr_articles}} articles</center>
                    </div>
                </div>
                </a>
            </div>
          {% endfor %}
      </div>
    {% endfor %}

</div>

<br><br>

{% endblock %}