{% extends 'base.html' %}

{% block title %} Partidos Políticos {% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">

    <br>

    <div id="inner" class="w-100 p-1">
    {% for tmp in items|batch(4) %}
      <div class="row text-center">
          {% for item in tmp %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <center>
                        <img class="figure-img img-fluid rounded" src="{{item.party_logo}}" width="120" height="150" alt="">
                    </center>
                    <div class="card-body">
                        <h6 class="card-title"><a href=/party_members?q={{item.wiki_id}}>{{item.party_label}}</a></h6>
                        <center>{{item.nr_personalities}} personalidades</center>
                    </div>
                </div>
            </div>
          {% endfor %}
      </div>
    {% endfor %}
    </div>

</div>

<br><br>

{% endblock %}