<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="David S. Batista">

  <!-- Jquery needs to come first to avoid: 'Uncaught ReferenceError: $ is not defined' -->
  <script src="static/vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/heroic-features.css" rel="stylesheet">

  <!-- Charts.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>

    nomes = [];
    $.getJSON("static/persons.json", function(json_data){
        for (var i = 0, len = json_data.length; i < len; i++) {
            var person = {label: json_data[i].name, value: json_data[i].wiki_id};
            nomes.push(person);
        };
    });

    /* Relações de um Personalidade */
    $(function() {
      $("#autocomplete").autocomplete({
        source: nomes,
        focus: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox
            $(this).val(ui.item.label);
        },
        select: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox and hidden field
            $(this).val(ui.item.label);
            $("#autocomplete-value").val(ui.item.value);
        }
      });
    });

    $(document).ready ( function () {

        /* Relações de uma personalidade */
        $(document).on ("click", "#btn_one", function () {
            var wiki_id = $('#autocomplete-value').val();
            var data = { q: wiki_id, search: true};
            $.ajax({
              type: 'get',
              data: data,
              url: '/entity',
              error: function () {
                alert("There was an error processing this page.");
                return false;
              },
              complete: function (output) {
                $('#inner').empty();
                $('#inner').html(output.responseText);
              }
            });
        });
    });

  </script>

  <title>{% block title %} {% endblock %}</title>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">politiquices.pt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <input class="form-control form-control-sm" id="autocomplete" type="text" placeholder="Personalidade" aria-label=".form-control-sm example">
          <input type="hidden" id="autocomplete-value" type="text" name="wiki">
          <button type="button" id='btn_one' class="btn btn-primary btn-sm">Seleccionar</button>
          <!--<button class="btn btn-outline-success" id="btn_one" type="submit">Search</button>-->
          <!--
          <form class="form-control form-control-sm">
          <input id="autocomplete" class="span9" type="text" placeholder="Personalidade" />
          </form>
          <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          -->
          <li class="nav-item">
            <a class="nav-link" href="/entities">Personalidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/parties">Partidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Pesquisar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stats">Estatísticas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    {% block body %}

    {% endblock %}

    <!-- Footer -->
    <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"> &copy; politiquices.pt 2020</p>
    </div>
    <!-- /.container -->
    </footer>

    <!-- Popper - Tooltip & Popover Positioning Enginepopper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <!-- Bootstrap min -->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
