<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="">
  <meta name="author" content="David S. Batista">

  <!-- Jquery needs to come first to avoid: 'Uncaught ReferenceError: $ is not defined' -->
  <script src="static/vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/heroic-features.css" rel="stylesheet">

  <!-- Timeline plugin -->
  <script src="static/timeline/js/timeline.min.js"></script>
  <link href="static/timeline/css/timeline.min.css" rel="stylesheet" />

  <!-- Charts.JS -->
  <script src="static/vendor/Chart.min.js"></script>

  <!-- Jquery UI -->
  <link rel="stylesheet" href="static/css/jquery-ui.css">
  <script src="static/vendor/jquery-ui.js"></script>

  <script>
    $body = $("body");
    $(document).on({
      ajaxStart: function() { $body.addClass("loading"); },
      ajaxStop: function() { $body.removeClass("loading"); }
    });

    nomes = [];
    $.getJSON("static/json/persons.json", function(json_data){
        for (var i = 0, len = json_data.length; i < len; i++) {
            var person = {label: json_data[i].name, value: json_data[i].wiki_id};
            nomes.push(person);
        };
    });

    /* Relações de um Personalidade */
    $(function() {
      $("#autocomplete_nav_bar").autocomplete({
        source: nomes,
        focus: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox
            $(this).val(ui.item.label);
        },
        select: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox and hidden field
            $(this).val(ui.item.label);
            $("#autocomplete_nav_bar-value").val(ui.item.value);

            var wiki_id = $('#autocomplete_nav_bar-value').val();
            var data = { q: wiki_id, search: true};
            $.ajax({
              type: 'get',
              data: data,
              url: '/entity',
              error: function () {
                alert("There was an error processing this page.");
                return false;
              },
              complete: function (output) {
                $('#container').empty();
                $('#container').html(output.responseText);
              }
            });
        }
      });
    });

  </script>

  <title>{% block title %} {% endblock %}</title>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">politiquices.pt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <input class="form-control form-control-sm" id="autocomplete_nav_bar" type="text" placeholder="Personalidade" aria-label=".form-control-sm example">
          <input type="hidden" id="autocomplete_nav_bar-value" type="text" name="wiki">
          <li class="nav-item">
            <a class="nav-link" href="/entities">Personalidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/parties">Partidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Procurar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Grafo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stats">Estatísticas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    {% block body %}

    {% endblock %}

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"> &copy; politiquices.pt 2020</p>
    </div>
  </footer>

  <!-- AJAX loading component -->
  <div class="modal"><!-- Place at bottom of page --></div>

  <!-- Popper - Tooltip & Popover Positioning Enginepopper.js -->
  <script src="static/vendor/popper.min.js"></script>

  <!-- Bootstrap min -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Datatables -->
  <script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.css">

</body>
</html>
