<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="">
  <meta name="author" content="David S. Batista">

  <!-- Jquery needs to come first to avoid: 'Uncaught ReferenceError: $ is not defined' -->
  <script src="static/vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/heroic-features.css" rel="stylesheet">

  <!-- Charts.JS -->
  <script src="static/vendor/Chart.min.js"></script>

  <!-- Jquery UI -->
  <link rel="stylesheet" href="static/css/jquery-ui.css">
  <script src="static/vendor/jquery-ui.js"></script>

  <script>

    $body = $("body");
    
    $( document ).ajaxStart(function() {
      $('#loading').show();
    });

    $( document ).ajaxStop(function() {
      $('#loading').hide();
    });

    persons_only = [];
    var persons2wiki_id = {};
    $.getJSON("static/json/persons.json", function(json_data){
          for (var i = 0, len = json_data.length; i < len; i++) {
            persons_only.push(json_data[i].name);
            persons2wiki_id[json_data[i].name] = json_data[i].wiki_id
          };
      });

    
    // taken from: https://stackoverflow.com/questions/9710922/jquery-accent-insensitive-with-multiple-values-autocomplete
    var normalize = function(term) {
      var ret = "";
      for (var i = 0; i < term.length; i++) {
        ret += accentMap[term.charAt(i)] || term.charAt(i);
      }
        return ret;
    };

    function split(val) {
      return val.split(/,\s*/);
    }

    function extractLast(term) {
      return split(term).pop();
    }

    var accentMap = {
      "à": "a", "â": "a", "ã": "a", "á":"a", "Á":"a",
      "ç": "c",
      "é": "e", "è": "e", "ê": "e", "ë": "e",
      "ï": "i", "î": "i", "í": "i",
      "ô": "o", "ö": "o", "ó": "o",
      "û": "u", "ù": "u"
  };

    $(function() {
      $('#autocomplete_nav_bar').keydown(function(e) {          
        if (e.keyCode === $.ui.keyCode.TAB &&
          $(this).data("autocomplete").menu.active) {
          e.preventDefault();
        }
        
        if (e.which == 13) {
          e.preventDefault();
        }

        $('#autocomplete_nav_bar').autocomplete({

          minLength: 1,
          autoFocus: true,
          
          //with accent check        
          source: function(request, response) {
            var matcher = new RegExp($.ui.autocomplete.escapeRegex(extractLast(request.term)), "i");
            response($.grep(persons_only, function(value) {
              value = value.truc || value.value || value;
              return matcher.test(value) || matcher.test(normalize(value));
            }));
          },
          
          focus: function() {
            // prevent value inserted on focus
            return false;
          },

          select: function(event, ui) {   
            var terms = split(this.value);
            
            // remove the current input
            terms.pop();
            
            // add the selected item
            terms.push(ui.item.value);
            
            this.value = ui.item.value;
            $("#autocomplete_nav_bar-value").val(persons2wiki_id[ui.item.value]);

            // make an AJAX request
            var wiki_id = $('#autocomplete_nav_bar-value').val();
            var data = { q: wiki_id, search: true};
              $.ajax({
                type: 'get',
                data: data,
                url: '/entity',
                error: function () {
                  alert("There was an error processing this page.");
                  return false;
                },
                complete: function (output) {
                  // disable $('#auto-scroll') it's activated in 'Personalidades' page
                  $(window).off();
                  $('#container').replaceWith(output.responseText);
                  $('html, body').animate({ scrollTop: 0 }, 'slow');
                }
              });

            return false;
          }
        })        
      })
    });

  </script>

  <title>{% block title %} {% endblock %}</title>

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//www.politiquices.pt/static/vendor/matomo.js";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->


</head>

<body>

  <div id="loading">
    <img id="loading-image" src="/static/images/ajax_loading.gif" alt="Loading..." />
  </div>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-lg">
      <a class="navbar-brand" href="/">politiquices.pt</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <input class="form-control form-control-sm" style="position: relative;top: 5px;" id="autocomplete_nav_bar" type="text" placeholder="Personalidade" aria-label=".form-control-sm example">
          <input type="hidden" id="autocomplete_nav_bar-value" type="text" name="wiki">
          <li class="nav-item">
            <a class="nav-link" href="/graph">Grafo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/entities">Personalidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/parties">Partidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stats">Estatísticas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    {% block body %}

    {% endblock %}

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white"> &copy; www.politiquices.pt - 2021</p>
    </div>
  </footer>

  <!-- Popper - Tooltip & Popover Positioning Enginepopper.js -->
  <script src="static/vendor/popper.min.js"></script>

  <!-- Bootstrap min -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Datatables -->
  <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/locale/bootstrap-table-pt-PT.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/extensions/export/bootstrap-table-export.min.js"></script>
  <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
</body>
</html>
