<!DOCTYPE html>
<html>
<head>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Charts.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

    <style>
    img { object-fit: contain; }
    canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    </style>

    <style>
    img { object-fit: contain; }
    </style>

    <title>{{items.name}}</title>
</head>
<body>

<h1><center id="ent_1">{{items.name}}</center></h1>

<br><br>

<div id="outer" class="container d-flex align-items-center justify-content-center">

<div class="media">

    <figure class="figure">
        <a href=https://www.wikidata.org/wiki/{{items.wiki_id}} target="_blank">
        <img src={{items.image}} class="figure-img img-fluid rounded" width="240" height="300">
    </a>
        <figcaption class="figure-caption" style="text-align:center;">
            <a id="ent1_wikid_id" href=https://www.wikidata.org/wiki/{{items.wiki_id}} target="_blank">Editar na Wikidata</a>
        </figcaption>
    </figure>

    <div class="media-body">
        <table class="table">
          <tbody>
          {% for item in items.parties %}
            <tr>
              <td><img src={{item.image_url}} class="figure-img img-fluid rounded" width="60" height="75"></td>
            </tr>
            <tr>
              <td>{{item.name}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

    </div>

    <div class="media-body">
    <h5 class="mt-0">Cargos ocupados</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Início</th>
              <th scope="col">Fim</th>
              <th scope="col">Cargo</th>
            </tr>
          </thead>
          <tbody>
          {% for item in items.offices %}
            <tr>
              <td>{{item.start}}</td>
              <td>{{item.end}}</td>
              <td>{{item.position}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
  </div>
</div>
</div>

<!--
    # https://www.chartjs.org/samples/latest/scales/time/financial.html
    # https://www.chartjs.org/docs/latest/axes/cartesian/time.html
-->


<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <canvas id="myChart" width="900" height="250"></canvas>
  </div>
</div>


<script>

var ctx = document.getElementById('myChart');
var color = Chart.helpers.color;

var year_labels = {{ items['year_month_labels']|tojson }};
var opposed_freq = {{ items['opposed_freq']|tojson }};
var supported_freq = {{ items['supported_freq']|tojson }};
var opposed_by_freq = {{ items['opposed_by_freq']|tojson }};
var supported_by_freq = {{ items['supported_by_freq']|tojson }};

var myChart = new Chart(ctx, {
    type: 'line',
    data: {labels: year_labels,
           datasets: [
                {label: 'acusa', borderColor: "#FF0000", fill: false, data: opposed_freq},
                {label: 'é acusado', borderColor: "#980000", fill: false, data: opposed_by_freq},
                {label: 'defende', borderColor: "#44861E", fill: false, data: supported_freq},
                {label: 'é defendido', borderColor: "#70DA33", fill: false, data: supported_by_freq}
           ],
    options: { scales: { yAxes: [ { ticks: {beginAtZero: false} } ] }
    }
    }
});

// https://stackoverflow.com/questions/14460421/get-the-contents-of-a-table-row-with-a-button-click
// https://stackoverflow.com/questions/4737476/how-to-select-and-change-value-of-table-cell-with-jquery

$(document).ready(function() {
  $(".submit").click(function() {
    var title_data = {};
    $(this).closest('tr').find('td').not(':last').each(function() {

        var ent1_wiki_url = $('#ent1_wikid_id').attr("href").split("wiki/")[1]
        var ent_1 = $('#ent_1').text();
        title_data.ent1_wiki = ent1_wiki_url;
        title_data.ent_1 = ent_1;

        if ($(this).attr('id') == 'ent_2') {
            var entidade = $(this).find('a').text();
            title_data.ent_2 = entidade;

            var ent2_wiki_url = $(this).find('a').attr("href").split("q=")[1]
            title_data.ent2_wiki = ent2_wiki_url;

        }

        if ($(this).attr('id') == 'data') {
            var data = $(this).text();
            title_data.date = data;
        }


        if ($(this).attr('id') == 'title') {
            title_text = $(this).text();
            title_link = $(this).find('a').attr("href");
            title_data.title = title_text;
            title_data.url = title_link;
        }


        if ($(this).attr('id') == 'rel_type') {
            selected_rel =  $(this).find('button').text();
            title_data.rel_type  = selected_rel;
        }

   });
   var myJsonString = JSON.stringify(title_data);
   $.ajax({
     type: "POST",
     context: this,
     crossDomain: true,
     url: 'http://127.0.0.1:8000/annotation/',
     data: myJsonString,
     success: function (data) {
       console.log(this);
       //$(this).prop('disabled', true);
       $(this).addClass("disabled");
     },
   });
  });
});


$(document).ready(function() {
   $(".dropdown-menu").on('click', 'a', function(){
       $(this).parents('.dropdown').find('button').text($(this).text());
       $(this).parent().parent().textContent = "teste"

   });
});


</script>

<br><br><br>

<p class="d-flex align-items-center justify-content-center">Discorda / Opõe-se / Acusa</p>

<div class="align-items-center justify-content-center">

<table id="ent1_opposes_ent2">
  <tbody>
  {% for item in items.opposed %}
    <tr>
      <td id="ent_2"><a href={{item.other_ent_url}}> {{item.other_ent_name}} </a></td>
      <td id="data">{{item.date}}</td>
      <td id="title"><a href={{item.url}} target="_blank"> {{item.title}} </a></td>
      <td id="score">{{item.score}}</td>
      <td id="rel_type">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle"
                      type="button" id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">ent1_opposes_ent2</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">other</a>
                  <a class="dropdown-item">ent2_opposes_ent1</a>
                  <a class="dropdown-item">ent1_supports_ent2</a>
                  <a class="dropdown-item">ent2_supports_ent1</a>
              </div>
          </div>
      </td>
      <td>
        <a class="submit btn btn-primary" role="button">Submit</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>


<br><br>


<p class="">Apoia / Defende</p>
<table class="table">
  <tbody>
  {% for item in items.supported %}
    <tr>
      <td><a href={{item.other_ent_url}}> {{item.other_ent_name}} </a></td>
      <td>{{item.date}}</td>
      <td><a href={{item.url}} target="_blank"> {{item.title}} </a></td>
      <td>{{item.score}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<br><br>

<p class="">Acusado por / Oposto por</p>
<table class="table">
  <tbody>
  {% for item in items.opposed_by %}
    <tr>
      <td><a href={{item.other_ent_url}}> {{item.other_ent_name}} </a></td>
      <td>{{item.date}}</td>
      <td><a href={{item.url}} target="_blank"> {{item.title}} </a></td>
      <td>{{item.score}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


<br><br>


<p class="">Apoiado por / Defendido por</p>
<table class="table">
  <tbody>
  {% for item in items.supported_by %}
    <tr>
      <td><a href={{item.other_ent_url}}> {{item.other_ent_name}} </a></td>
      <td>{{item.date}}</td>
      <td><a href={{item.url}} target="_blank"> {{item.title}} </a></td>
      <td>{{item.score}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>


</body>
</html>