<div class="container" id="inner">

    <br>

    <center><h4><b>{{items.name}}</b></h4></center>

    <br>

    <div id="outer" class="container d-flex align-items-center justify-content-center">

        <!-- Foto -->
        <div class="media">
            <figure class="figure">
                <a href=https://www.wikidata.org/wiki/{{items.wiki_id}} target="_blank">
                <img src={{items.image}} class="figure-img img-fluid rounded" width="144" height="180" alt="{{items.name}}" title="{{items.name}}">
                </a>
                <figcaption class="figure-caption" style="text-align:center;">
                    <a id="ent1_wikid_id" href=https://www.wikidata.org/wiki/{{items.wiki_id}} target="_blank">Editar na Wikidata</a>
                </figcaption>
            </figure>
        </div>

        <!-- Partidos -->
        <div class="col-auto">
            <table>
              <tbody>
              {% for item in items.parties %}
              <tr>
                  <td>
                    <a href="/party_members?q={{item.wiki_id}}" target="_blank">
                        <img src={{item.image_url}} class="figure-img img-fluid rounded" width="60" height="75" alt="{{item.name}}" title="{{item.name}}">
                    </a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>

        <!-- Positions -->
        <div class="col-auto">
            <table>
              <thead><b><center>Cargos</center></b></thead>
              <tbody>
              {% for item in items.positions %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>

        <!-- Education -->
        <div class="col-auto">
            <table>
              <thead><b><center>Educação</center></b></thead>
              <tbody>
              {% for item in items.education %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>

        <!-- Occupations -->
        <div class="col-auto">
            <table>
              <thead><b><center>Profissão</center></b></thead>
              <tbody>
              {% for item in items.occupations %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>

    </div>

    <br><br>

    <!-- Time-line of relationships -->
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <canvas id="myChart" width="900" height="250"></canvas>
      </div>
    </div>

    <script>
    var ctx = document.getElementById('myChart');
    var color = Chart.helpers.color;

    var year_labels = {{ items['year_month_labels']|tojson }};
    var opposed_freq = {{ items['opposed_freq']|tojson }};
    var supported_freq = {{ items['supported_freq']|tojson }};
    var opposed_by_freq = {{ items['opposed_by_freq']|tojson }};
    var supported_by_freq = {{ items['supported_by_freq']|tojson }};

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: year_labels,
          datasets: [
            {label: 'acusa', backgroundColor: "#FF0000", fill: true, data: opposed_freq},
            {label: 'é acusado(a)', backgroundColor: "#980000", fill: true, data: opposed_by_freq},
            {label: 'apoia', backgroundColor: "#44861E", fill: true, data: supported_freq},
            {label: 'é apoiado(a)', backgroundColor: "#70DA33", fill: false, true: supported_by_freq}
            ]
          },
        options: {
          scales: {
            x: {stacked: true},
          }
        }
    });

    // Time-line
    $('.timeline').timeline();

    // click on table rows
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            var url = $(this).data("href")
            $.ajax({
              type: 'get',
              data: null,
              url: url,
              error: function () {
                alert("There was an error processing this page.");
                return false;
              },
              complete: function (output) {
                $('#inner').html(output.responseText);

              }
            });
        });

    });


    </script>

    <br><br>

    <!-- Top personalities for each relationship type -->
    <div class="row justify-content-center">

      <div class="col-auto">
          <b><center>Acusa</center></b>
            <table style="overflow-y: scroll; display:block; height:500px;" class="table table-responsive-md table-hover">
              <tbody>
              {% for item in items.top_relations.who_person_opposes %}
                <tr class='clickable-row' data-href=/queries?query_nr=two&e1={{item.wiki_id}}&e2={{entity_wiki_id}}>
                    <td>{{item.name}}</td>
                    <td>{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>

      <div class="col-auto">
          <b><center>Apoia</center></b>
          <table style="overflow-y: scroll; display:block; height:500px;" class="table table-responsive-md table-hover">
              <tbody>
              {% for item in items.top_relations.who_person_supports %}
                <tr class='clickable-row' data-href=/queries?query_nr=two&e1={{item.wiki_id}}&e2={{entity_wiki_id}}>
                    <td>{{item.name}}</td>
                    <td>{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>

      <div class="col-auto">
          <b><center>Acusado(a) por</center></b>
          <table style="overflow-y: scroll; display:block; height:500px;" class="table table-responsive-md table-hover">
              <tbody>
              {% for item in items.top_relations.who_opposes_person %}
                <tr class='clickable-row' data-href=/queries?query_nr=two&e1={{item.wiki_id}}&e2={{entity_wiki_id}}>
                    <td>{{item.name}}</td>
                    <td>{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>

      <div class="col-auto">
          <b><center>Apoiado(a) por</center></b>
          <table style="overflow-y: scroll; display:block; height:500px;" class="table table-responsive-md table-hover">
              <tbody>
              {% for item in items.top_relations.who_supports_person %}
                <tr class='clickable-row' data-href=/queries?query_nr=two&e1={{item.wiki_id}}&e2={{entity_wiki_id}}>
                    <td>{{item.name}}</td>
                    <td>{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>

    </div>

    <br><br>

    <!-- Timeline with news articles -->
    <!--
    <div class="timeline" data-mode="auto"  visible-items="4">
      <div class="timeline__wrap">
        <div class="timeline__items">

          <div class="timeline__item">
            <div class="timeline__content">
              <h2>2018</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
            </div>
          </div>

          <div class="timeline__item">
            <div class="timeline__content">
              <h2>2018</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
            </div>
          </div>

          <div class="timeline__item">
            <div class="timeline__content">
              <h2>2018</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
            </div>
          </div>

          <div class="timeline__item">
            <div class="timeline__content">
              <h2>2018</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
            </div>
          </div>

          <div class="timeline__item">
            <div class="timeline__content">
              <h2>2017</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr>
    -->

    <!-- Tables with all the titles: see: https://examples.bootstrap-table.com/#welcome.html -->

    <div class="container">
        <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr">
              <li class="nav-item">
                <a class="nav-link" id="opposes">Acusa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="supports">Apoia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="opposed_by">Acusado(a) por</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="supported_by">Apoiado(a) por</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="all">Todas</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    </div>

    <br>

    <div class="container" id="single_table">
      <center><h3 id="table_title">Acusa</h3></center>
        <table id="table"
               data-pagination="true"
               data-search="true"
               data-toggle="table">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="data">Data</th>
                    <th data-field="titulo">Título</th>
                </tr>
            </thead>
        </table>
    </div>

</div>

<script>

    var opposed = {{ opposed|safe }};
    var supported = {{ supported|safe }};
    var opposed_by = {{ opposed_by|safe }};
    var supported_by = {{ supported_by|safe }};
    var all_relationships =  {{ all_relationships|safe }};

    // by default we show the 'opposed' table
    var $table = $('#table');
    $(function (table) {
        $('#table').bootstrapTable({
            data: opposed
        });
    });


    $("#opposes").click(function() {
      $('#single_table').empty();
      $('#single_table').append('<center><h3> Acusa </h3></center>');
      $('#single_table').append(
      '<table id=\"table\"\
             data-pagination=\"true\"\
             data-search=\"true\"\
             data-toggle=\"table\">\
          <thead>\
              <tr>\
                  <th data-sortable=\"true\" data-field=\"data\">Data</th>\
                  <th data-field=\"titulo\">Título</th>\
              </tr>\
          </thead>\
      </table>');
      $('#table').bootstrapTable({
          data: opposed
      });
    });

    $("#supports").click(function() {
      $('#single_table').empty();
      $('#single_table').append('<center><h3> Apoia </h3></center>');
      $('#single_table').append(
      '<table id=\"table\"\
             data-pagination=\"true\"\
             data-search=\"true\"\
             data-toggle=\"table\">\
          <thead>\
              <tr>\
                  <th data-sortable=\"true\" data-field=\"data\">Data</th>\
                  <th data-field=\"titulo\">Título</th>\
              </tr>\
          </thead>\
      </table>');


      $('#table').bootstrapTable({
          data: supported
      });

    });

    $("#opposed_by").click(function() {
      $('#single_table').empty();
      $('#single_table').append('<center><h3> Acusado(a) </h3></center>');
      $('#single_table').append(
      '<table id=\"table\"\
             data-pagination=\"true\"\
             data-search=\"true\"\
             data-toggle=\"table\">\
          <thead>\
              <tr>\
                  <th data-sortable=\"true\" data-field=\"data\">Data</th>\
                  <th data-field=\"titulo\">Título</th>\
              </tr>\
          </thead>\
      </table>');
      $('#table').bootstrapTable({
          data: opposed_by
      });
    });

    $("#supported_by").click(function() {
      $('#single_table').empty();
      $('#single_table').append('<center><h3> Apoiado(a) por </h3></center>');
      $('#single_table').append(
      '<table id=\"table\"\
             data-pagination=\"true\"\
             data-search=\"true\"\
             data-toggle=\"table\">\
          <thead>\
              <tr>\
                  <th data-sortable=\"true\" data-field=\"data\">Data</th>\
                  <th data-field=\"titulo\">Título</th>\
              </tr>\
          </thead>\
      </table>');
      $('#table').bootstrapTable({
          data: supported_by
      });
    });

    $("#all").click(function() {
      $('#single_table').empty();
      $('#single_table').append('<center><h3> Todas as relações </h3></center>');
      $('#single_table').append(
      '<table id=\"table\"\
             data-pagination=\"true\"\
             data-search=\"true\"\
             data-toggle=\"table\">\
          <thead>\
              <tr>\
                  <th data-sortable=\"true\" data-field=\"data\">Data</th>\
                  <th data-field=\"titulo\">Título</th>\
              </tr>\
          </thead>\
      </table>');
      $('#table').bootstrapTable({
          data: all_relationships
      });
    });


    timeline(document.querySelectorAll('.timeline'), {
        verticalStartPosition: 'right',
        verticalTrigger: '150px'
    });

  </script>
