{% extends 'base.html' %}

{% block body %}

<!-- Page Content -->
<div class="container">

    <br>
    <center><h4><b>{{items.name}}</b></h4></center>
    <br>

    <div id="outer" class="container d-flex align-items-center justify-content-center">

        <!-- Foto -->
        <div class="media">
            <figure class="figure">
                <a href=https://www.wikidata.org/wiki/{{items.wiki_id}} target="_blank">
                <img src={{items.image}} class="figure-img img-fluid rounded" width="144" height="180" alt="{{items.name}}" title="{{items.name}}">
                </a>
                <figcaption class="figure-caption" style="text-align:center;">
                    <a id="ent1_wikid_id" href=https://www.wikidata.org/wiki/{{items.wiki_id}} target="_blank">Editar na Wikidata</a>
                </figcaption>
            </figure>
        </div>

        <!-- Partidos -->
        <div class="col-auto">
            <table>
              <tbody>
              {% for item in items.parties %}
              <tr>
                  <td>
                    <a href="/party_members?q={{item.wiki_id}}" target="_blank">
                        <img src={{item.image_url}} class="figure-img img-fluid rounded" width="60" height="75" alt="{{item.name}}" title="{{item.name}}">
                    </a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>

        <!-- Positions -->
        <div class="col-auto">
            <table>
              <tbody>
              {% for item in items.positions %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>

        <!-- Education -->
        <div class="col-auto">
            <table>
              <tbody>
              {% for item in items.education %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>

        <!-- Occupations -->
        <div class="col-auto">
            <table>
              <tbody>
              {% for item in items.occupations %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

    <script>

    // adapted from:
    // https://stackoverflow.com/questions/14460421/get-the-contents-of-a-table-row-with-a-button-click
    // https://stackoverflow.com/questions/4737476/how-to-select-and-change-value-of-table-cell-with-jquery

    $(document).ready(function() {
      $(".submit").click(function() {

        var title_data = {};
        var entities = {};

        $(this).closest('tr').find('td').not(':last').each(function() {

            if ($(this).attr('id') == 'title') {
              title_data.url = $(this).find('#link').attr("href");
              title_data.title = $(this).find('#link').attr("data-title");

              var ent1 = $(this).find('#ent_1').text();
              var ent1_wiki_url = $(this).find('#ent_1').attr("href").split("q=")[1];
              var ent2 = $(this).find('#ent_2').text();
              var ent2_wiki_url = $(this).find('#ent_2').attr("href").split("q=")[1];
              entities.ent1 = ent1;
              entities.ent1_wiki_url = ent1_wiki_url;
              entities.ent2 = ent2;
              entities.ent2_wiki_url = ent2_wiki_url;
            }

            /* date of crawl */
            if ($(this).attr('id') == 'data') {
                var data = $(this).text();
                title_data.date = data;
            }

            /* selected rel_type */
            if ($(this).attr('id') == 'rel_type') {
                selected_rel = $(this).find('button').text();
                title_data.rel_type = selected_rel;
            }

            /* original rel_type */
            if ($(this).attr('id') == 'original_rel_type') {
              original_rel = $(this).text();
            }
       });


       if ( title_data.title.indexOf(entities.ent1) > title_data.title.indexOf(entities.ent2)) {
            title_data.ent_1 = entities.ent2;
            title_data.ent1_wiki = entities.ent2_wiki_url;
            title_data.ent_2 = entities.ent1;
            title_data.ent2_wiki = entities.ent1_wiki_url;
          }
          else {
            title_data.ent_1 = entities.ent1;
            title_data.ent1_wiki = entities.ent1_wiki_url;
            title_data.ent_2 = entities.ent2;
            title_data.ent2_wiki = entities.ent2_wiki_url;
          }

       var myJsonString = JSON.stringify(title_data);

       $.ajax({
         type: "POST",
         context: this,
         crossDomain: true,
         url: 'http://politiquices.pt:8000/annotation/',
         data: myJsonString,
         success: function (data) {
           console.log(this);
           $(this).addClass("disabled");
         },
       });
      });
    });

    $(document).ready(function() {
       $(".dropdown-menu").on('click', 'a', function(){
           $(this).parents('.dropdown').find('button').text($(this).text());
       });
    });
    </script>

    <br><br>

    <h3>Opõe-se a</h3>
    <table class="table">
      <tbody>
      {% for item in items.opposes %}
        <tr>
          <td id="data">{{item.date}}</td>
          <td id="title">
            {{item.title_clickable|safe}}
            <a id="link" data-title="{{item.title}}" href={{item.url}} target="_blank">
                <img src="{{item.link_image}}" width="{{item.image_width}}" height="20">
            </a>
          <td id="original_rel_type">{{item.rel_type}}</td>
          <td id="score">{{item.score}}</td>
          <td id="rel_type">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle"
                          type="button" id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">ent1_opposes_ent2</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">other</a>
                      <a class="dropdown-item">ent1_opposes_ent2</a>
                      <a class="dropdown-item">ent2_opposes_ent1</a>
                      <a class="dropdown-item">ent1_supports_ent2</a>
                      <a class="dropdown-item">ent2_supports_ent1</a>
                  </div>
              </div>
          </td>
          <td>
            <a class="submit btn btn-primary" role="button">Submit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <br>

    <h3>Apoia</h3>
    <table class="table">
      <tbody>
      {% for item in items.supports %}
        <tr>
          <td id="data">{{item.date}}</td>
          <td id="title">
            {{item.title_clickable|safe}}
            <a id="link" data-title="{{item.title}}" href={{item.url}} target="_blank"><img src="{{item.link_image}}" width="{{item.image_width}}" height="20"></a>
          </td>
          <td id="original_rel_type">{{item.rel_type}}</td>
          <td id="score">{{item.score}}</td>
          <td id="rel_type">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle"
                          type="button" id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">ent1_supports_ent2</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">other</a>
                      <a class="dropdown-item">ent1_opposes_ent2</a>
                      <a class="dropdown-item">ent2_opposes_ent1</a>
                      <a class="dropdown-item">ent1_supports_ent2</a>
                      <a class="dropdown-item">ent2_supports_ent1</a>
                  </div>
              </div>
          </td>
          <td>
            <a class="submit btn btn-primary" role="button">Submit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <br>

    <h3>Oposto(a) por</h3>
    <table class="table">
      <tbody>
      {% for item in items.opposed_by %}
        <tr>
          <td id="data">{{item.date}}</td>
          <td id="title">
            {{item.title_clickable|safe}}
            <a id="link" data-title="{{item.title}}" href={{item.url}} target="_blank"><img src="{{item.link_image}}" width="{{item.image_width}}" height="20"></a>
          </td>
          <td id="original_rel_type">{{item.rel_type}}</td>
          <td id="score">{{item.score}}</td>
          <td id="rel_type">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle"
                          type="button" id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">ent2_opposes_ent1</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">other</a>
                      <a class="dropdown-item">ent1_opposes_ent2</a>
                      <a class="dropdown-item">ent2_opposes_ent1</a>
                      <a class="dropdown-item">ent1_supports_ent2</a>
                      <a class="dropdown-item">ent2_supports_ent1</a>
                  </div>
              </div>
          </td>
          <td>
            <a class="submit btn btn-primary" role="button">Submit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <br>

    <h3>Apoiado(a) por</h3>
    <table class="table">
      <tbody>
      {% for item in items.supported_by %}
        <tr>
          <td id="data">{{item.date}}</td>
          <td id="title">
            {{item.title_clickable|safe}}
            <a id="link" data-title="{{item.title}}" href={{item.url}} target="_blank"><img src="{{item.link_image}}" width="{{item.image_width}}" height="20"></a>
          </td>
          <td id="original_rel_type">{{item.rel_type}}</td>
          <td id="score">{{item.score}}</td>
          <td id="rel_type">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle"
                          type="button" id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">ent2_supports_ent1</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">other</a>
                      <a class="dropdown-item">ent1_opposes_ent2</a>
                      <a class="dropdown-item">ent2_opposes_ent1</a>
                      <a class="dropdown-item">ent1_supports_ent2</a>
                      <a class="dropdown-item">ent2_supports_ent1</a>
                  </div>
              </div>
          </td>
          <td>
            <a class="submit btn btn-primary" role="button">Submit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <br>

    <h3>Other</h3>
    <table class="table">
      <tbody>
      {% for item in items.other %}
        <tr>
          <td id="data">{{item.date}}</td>
          <td id="title">
            {{item.title_clickable|safe}}
            <a id="link" data-title="{{item.title}}" href={{item.url}} target="_blank"><img src="{{item.link_image}}" width="{{item.image_width}}" height="20"></a>
          </td>
          <td id="original_rel_type">{{item.rel_type}}</td>
          <td id="score">{{item.score}}</td>
          <td id="rel_type">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle"
                          type="button" id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">other</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">other</a>
                      <a class="dropdown-item">ent1_opposes_ent2</a>
                      <a class="dropdown-item">ent2_opposes_ent1</a>
                      <a class="dropdown-item">ent1_supports_ent2</a>
                      <a class="dropdown-item">ent2_supports_ent1</a>
                  </div>
              </div>
          </td>
          <td>
            <a class="submit btn btn-primary" role="button">Submit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <br>

    <h3>Other By</h3>
    <table class="table">
      <tbody>
      {% for item in items.other_by %}
        <tr>
          <td id="data">{{item.date}}</td>
          <td id="title">
            {{item.title_clickable|safe}}
            <a id="link" data-title="{{item.title}}" href={{item.url}} target="_blank"><img src="{{item.link_image}}" width="{{item.image_width}}" height="20"></a>
          </td>
          <td id="original_rel_type">{{item.rel_type}}</td>
          <td id="score">{{item.score}}</td>
          <td id="rel_type">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle"
                          type="button" id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">other</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">other</a>
                      <a class="dropdown-item">ent1_opposes_ent2</a>
                      <a class="dropdown-item">ent2_opposes_ent1</a>
                      <a class="dropdown-item">ent1_supports_ent2</a>
                      <a class="dropdown-item">ent2_supports_ent1</a>
                  </div>
              </div>
          </td>
          <td>
            <a class="submit btn btn-primary" role="button">Submit</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

</div>

<br><br>

{% endblock %}
