
<div class="container" id="container">
    <br>

    <center><h4><b>{{items.name}}</b></h4></center>
    <br>

    <div id="outer" class="container d-flex align-items-center justify-content-center">

        <!-- Foto -->
        <div class="media">
            <figure class="figure">
                <a href=https://www.wikidata.org/wiki/{{items.wiki_id}} target="_blank">
                <img src={{items.image}} class="figure-img img-fluid rounded" width="144" height="180" alt="{{items.name}}" title="{{items.name}}">
                </a>
                <figcaption class="figure-caption" style="text-align:center;">
                    <a id="ent1_wikid_id" href=https://www.wikidata.org/wiki/{{items.wiki_id}} target="_blank">Editar na Wikidata</a>
                </figcaption>
            </figure>
        </div>

        <!-- Partidos -->
        <div class="col-auto">
            <table>
              <tbody>
              {% for item in items.parties %}
              <tr>
                  <td>
                    <a href="/party_members?q={{item.wiki_id}}" target="_blank">
                        <img src={{item.image_url}} class="figure-img img-fluid rounded" width="60" height="75" alt="{{item.name}}" title="{{item.name}}">
                    </a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>

        <!-- Positions -->
        <div class="col-auto">
            <table>
              <thead><b><center>Cargos</center></b></thead>
              <tbody>
              {% for item in items.positions %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>

        <!-- Education -->
        <div class="col-auto">
            <table>
              <thead><b><center>Educação</center></b></thead>
              <tbody>
              {% for item in items.education %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>

        <!-- Occupations -->
        <div class="col-auto">
            <table>
              <thead><b><center>Profissão</center></b></thead>
              <tbody>
              {% for item in items.occupations %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>

    </div>
    <br><br>

    <!-- Char with relationships throughout the years -->
    <center><h4><b>Frequência das relações ao longo dos anos</b></h4></center>
    <br>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <canvas id="myChart" width="900" height="250"></canvas>
      </div>
    </div>
    <script>
    var ctx = document.getElementById('myChart');
    var color = Chart.helpers.color;

    var year_labels = {{ items['year_month_labels']|tojson }};
    var opposed_freq = {{ items['opposed_freq']|tojson }};
    var supported_freq = {{ items['supported_freq']|tojson }};
    var opposed_by_freq = {{ items['opposed_by_freq']|tojson }};
    var supported_by_freq = {{ items['supported_by_freq']|tojson }};

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: year_labels,
          datasets: [
            {label: 'opõe-se', backgroundColor: "#FF0000", fill: true, data: opposed_freq},
            {label: 'é oposto(a) por', backgroundColor: "#980000", fill: true, data: opposed_by_freq},
            {label: 'apoia', backgroundColor: "#44861E", fill: true, data: supported_freq},
            {label: 'é apoiado(a)', backgroundColor: "#70DA33", fill: false, true: supported_by_freq}
            ]
          },
        options: {
          scales: {
            x: {stacked: true},
          }
        }
    });

    // Click on table rows of most frequent related personalities
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            var url = $(this).data("href")
            $.ajax({
              type: 'get',
              data: null,
              url: url,
              error: function () {
                alert("There was an error processing this page.");
                return false;
              },
              complete: function (output) {
                $('#container').html(output.responseText);
                $(document).scrollTop(0);
              }
            });
        });

    });


    </script>
    <br><br>

    <!-- Top personalities for each relationship type -->
    <center><h4><b>Com quem se relaciona mais frequentemente?</b></h4></center>
    <br>
    <div class="row justify-content-center">

      <div class="col-auto">
          <b><center>Opõe-se</center></b>
            <table style="overflow-y: scroll; display:block; height:500px;" class="table table-responsive-md table-hover">
              <tbody>
              {% for item in items.top_relations.who_person_opposes %}
                <tr class='clickable-row' data-href=/queries?query_nr=two&e1={{items.wiki_id}}&e2={{item.wiki_id}}>
                    <td class="underline-on-hover">{{item.name}}</td>
                    <td class="underline-on-hover">{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>

      <div class="col-auto">
          <b><center>Apoia</center></b>
          <table style="overflow-y: scroll; display:block; height:500px;" class="table table-responsive-md table-hover">
              <tbody>
              {% for item in items.top_relations.who_person_supports %}
                <tr class='clickable-row' data-href=/queries?query_nr=two&e1={{items.wiki_id}}&e2={{item.wiki_id}}>
                    <td class="underline-on-hover">{{item.name}}</td>
                    <td class="underline-on-hover">{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>

      <div class="col-auto">
          <b><center>Oposto(a) por</center></b>
          <table style="overflow-y: scroll; display:block; height:500px;" class="table table-responsive-md table-hover">
              <tbody>
              {% for item in items.top_relations.who_opposes_person %}
                <tr class='clickable-row' data-href=/queries?query_nr=two&e1={{items.wiki_id}}&e2={{item.wiki_id}}>
                    <td class="underline-on-hover">{{item.name}}</td>
                    <td class="underline-on-hover">{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>

      <div class="col-auto">
          <b><center>Apoiado(a) por</center></b>
          <table style="overflow-y: scroll; display:block; height:500px;"
                 class="table table-responsive-md table-hover">
              <tbody>
              {% for item in items.top_relations.who_supports_person %}
                <tr class='clickable-row' data-href=/queries?query_nr=two&e1={{items.wiki_id}}&e2={{item.wiki_id}}>
                    <td class="underline-on-hover">{{item.name}}</td>
                    <td class="underline-on-hover">{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>

    </div>
    <br><br>

    <!-- Select list of relationships -->
    <center id="relationships"><h4><b>Relações expressas em títulos de notícias</b></h4></center>
    <br>
    <div class="container">
      <div class="row">
        <div id="opposes" role="button" class="underline-on-hover font-weight-bold h4 col-sm">
          Opõe-se
        </div>
        <div id="supports" role="button" class="underline-on-hover font-weight-normal h4 col-sm">
          Apoia
        </div>
        <div id="opposed_by" role="button" class="underline-on-hover font-weight-normal h4 col-sm">
          Oposto(a) por
        </div>
        <div id="supported_by" role="button" class="underline-on-hover font-weight-normal h4 col-sm">
          Apoiado(a) por
        </div>
        <div id="all" role="button" class="underline-on-hover font-weight-normal h4 col-sm">
          Todas
        </div>
      </div>
    </div>
    <br>
    <div class="container" id="single_table">
        <table id="table">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="data">Data</th>
                    <th data-field="titulo">Título</th>
                    <th data-field="ent1" data-force-export="true" data-visible="false">Personalidade_1</th>
                    <th data-field="ent2" data-force-export="true" data-visible="false">Personalidade_2</th>
                    <th data-field="ent1_wiki" data-force-export="true" data-visible="false">Wikidata_PER_1</th>
                    <th data-field="ent2_wiki" data-force-export="true" data-visible="false">Wikidata_PER_2</th>
                    <th data-align="center" data-force-hide="true" data-field="link">Artigo</th>
                    <th data-field="url" data-force-export="true" data-visible="false">URL</th>
                </tr>
            </thead>
        </table>
    </div>

</div>

<script>

    var opposed = {{ opposed|safe }};
    var supported = {{ supported|safe }};
    var opposed_by = {{ opposed_by|safe }};
    var supported_by = {{ supported_by|safe }};
    var all_relationships =  {{ all_relationships|safe }};

    var $table = $('#table');

    $(function (table) {
        $('#table').bootstrapTable({
            data: opposed,  // by default we show the 'opposed' table
            //toolbar: "#toolbar",
            //pagination: true,
            //sidePagination: "server",
            //pageSize: "10",
            //pageList: "[10, 25, 50, All]",
            search: true,
            height: "600",
            showExport: true,
            exportTypes: ['csv'],
            exportDataType: 'all',
            showFooter: false,
            exportFooter: false
        });
    });
    $(document).scrollTop( $(relationships).offset().top);

    $("#opposes").click(function() {
      $('#table').bootstrapTable('load', opposed);
      $(document).scrollTop($(relationships).offset().top);
      $(this).removeClass('font-weight-normal').addClass('font-weight-bold');
      $("#supports").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#opposed_by").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#supported_by").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#all").removeClass('font-weight-bold').addClass('font-weight-normal');
    });

    $("#supports").click(function() {
      $('#table').bootstrapTable('load', supported);
      $(document).scrollTop($(relationships).offset().top);
      $(this).removeClass('font-weight-normal').addClass('font-weight-bold');
      $("#opposes").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#opposed_by").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#supported_by").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#all").removeClass('font-weight-bold').addClass('font-weight-normal');
    });

    $("#opposed_by").click(function() {
      $('#table').bootstrapTable('load', opposed_by);
      $(document).scrollTop($(relationships).offset().top);
      $(this).removeClass('font-weight-normal').addClass('font-weight-bold');
      $("#supports").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#opposes").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#supported_by").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#all").removeClass('font-weight-bold').addClass('font-weight-normal');
    });

    $("#supported_by").click(function() {
      $('#table').bootstrapTable('load', supported_by);
      $(document).scrollTop($(relationships).offset().top);
      $(this).removeClass('font-weight-normal').addClass('font-weight-bold');
      $("#supports").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#opposed_by").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#opposes").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#all").removeClass('font-weight-bold').addClass('font-weight-normal');
    });

    $("#all").click(function() {
      $('#table').bootstrapTable('load', all_relationships);
      $(document).scrollTop($(relationships).offset().top);
      $(this).removeClass('font-weight-normal').addClass('font-weight-bold');
      $("#supports").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#opposes").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#opposed_by").removeClass('font-weight-bold').addClass('font-weight-normal');
      $("#supported_by").removeClass('font-weight-bold').addClass('font-weight-normal');

    });

    $('html,body').scrollTop(0);

  </script>
