<!-- Page Content -->
<div class="container">

    <br>

    <center><h4><b>{{items.name}}</b></h4></center>

    <br>

    <div id="outer" class="container d-flex align-items-center justify-content-center" width="100%">

        <!-- Foto -->
        <div class="media">
            <figure class="figure">
                <a href=https://www.wikidata.org/wiki/{{items.wiki_id}} target="_blank">
                <img src={{items.image}} class="figure-img img-fluid rounded" width="144" height="180" alt="{{items.name}}" title="{{items.name}}">
                </a>
                <figcaption class="figure-caption" style="text-align:center;">
                    <a id="ent1_wikid_id" href=https://www.wikidata.org/wiki/{{items.wiki_id}} target="_blank">Editar na Wikidata</a>
                </figcaption>
            </figure>
        </div>

        <!-- Partidos -->
        <div class="col-auto">
            <table>
              <tbody>
              {% for item in items.parties %}
              <tr>
                  <td>
                    <a href="/party_members?q={{item.wiki_id}}" target="_blank">
                        <img src={{item.image_url}} class="figure-img img-fluid rounded" width="60" height="75" alt="{{item.name}}" title="{{item.name}}">
                    </a>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>

        <!-- Positions -->
        <div class="col-auto">
            <table>
              <tbody>
              {% for item in items.positions %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>

        <!-- Education -->
        <div class="col-auto">
            <table>
              <tbody>
              {% for item in items.education %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>

        <!-- Occupations -->
        <div class="col-auto">
            <table>
              <tbody>
              {% for item in items.occupations %}
                <tr>
                  <td>{{item}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>

    <!-- Time line of relationships -->
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <canvas id="myChart" width="900" height="250"></canvas>
      </div>
    </div>

    <script>
    var ctx = document.getElementById('myChart');
    var color = Chart.helpers.color;

    var year_labels = {{ items['year_month_labels']|tojson }};
    var opposed_freq = {{ items['opposed_freq']|tojson }};
    var supported_freq = {{ items['supported_freq']|tojson }};
    var opposed_by_freq = {{ items['opposed_by_freq']|tojson }};
    var supported_by_freq = {{ items['supported_by_freq']|tojson }};

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {labels: year_labels,
               datasets: [
                    {label: 'acusa', borderColor: "#FF0000", fill: false, data: opposed_freq},
                    {label: 'é acusado(a)', borderColor: "#980000", fill: false, data: opposed_by_freq},
                    {label: 'defende', borderColor: "#44861E", fill: false, data: supported_freq},
                    {label: 'é defendido(a)', borderColor: "#70DA33", fill: false, data: supported_by_freq}
               ],
        options: { scales: { yAxes: [ { ticks: {beginAtZero: false} } ] }
        }
        }
    });

    $('.timeline').timeline();

    </script>

    <br><br>

    <!-- Top personalities for each relationship type-->
    <div class="row justify-content-center">

      <div class="col-auto">
          <b><center>Discorda / Opõe-se / Acusa</center></b>
            <table class="table table-responsive">
              <tbody>
              {% for item in items.top_relations.who_person_opposes %}
                <tr>
                    <td><a href={{item.wiki_id}}>{{item.name}}</a></td>
                    <td>{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>

      <div class="col-auto">
          <b><center>Apoia / Defende</center></b>
          <table class="table table-responsive">
              <tbody>
              {% for item in items.top_relations.who_person_supports %}
                <tr>
                  <td><a href={{item.wiki_id}}>{{item.name}}</a></td>
                  <td>{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
      </div>

      <div class="col-auto">
          <b><center>Acusado(a) por / Oposto(a) por</center></b>
          <table class="table table-responsive">
              <tbody>
              {% for item in items.top_relations.who_opposes_person %}
                <tr>
                  <td><a href={{item.wiki_id}}>{{item.name}}</a></td>
                  <td>{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>

      <div class="col-auto">
          <b><center>Apoiado(a) por</center></b>
          <table class="table table-responsive">
              <tbody>
              {% for item in items.top_relations.who_supports_person %}
                <tr>
                  <td><a href={{item.wiki_id}}>{{item.name}}</a></td>
                  <td>{{item.nr_articles}}</td>
                </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
    </div>

    <br><br>

    <hr>
    <!-- Timeline with news articles -->
    <div class="timeline" data-mode="auto"  visible-items="4">
      <div class="timeline__wrap">
        <div class="timeline__items">

          <div class="timeline__item">
            <div class="timeline__content">
              <h2>2018</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
            </div>
          </div>

          <div class="timeline__item">
            <div class="timeline__content">
              <h2>2018</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
            </div>
          </div>

          <div class="timeline__item">
            <div class="timeline__content">
              <h2>2018</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
            </div>
          </div>

          <div class="timeline__item">
            <div class="timeline__content">
              <h2>2018</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
            </div>
          </div>

          <div class="timeline__item">
            <div class="timeline__content">
              <h2>2017</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dignissim neque condimentum lacus dapibus.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr>

    <!-- Tables with all the titles
    see: https://examples.bootstrap-table.com/#welcome.html -->

    <br><br><br>

    <center><h3>Discorda / Opõe-se / Acusa</h3></center>
    <table id="ent1_opposes_ent2"
           data-pagination="true"
           data-search="true"
           data-toggle="table">
      <thead>
        <tr>
          <th data-sortable="true" data-field="date">Data</th>
          <th data-field="title">Título</th>
        </tr>
      </thead>
      <tbody>
      {% for item in items.opposed %}
        <tr>
          <td id="data">{{item.date}}</td>
          <td id="title">
            {{item.title_clickable|safe}}
            <a id="link" data-title="{{item.title}}" href={{item.url}} target="_blank">
                <img src="{{item.link_image}}" width="{{item.image_width}}" height="20">
            </a>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <br><br>

    <center><h3>Apoia / Defende</h3></center>
    <table class="ent1_supports_ent2"
           data-pagination="true"
           data-search="true"
           data-toggle="table">
      <thead>
        <tr>
          <th data-sortable="true" data-field="date">Data</th>
          <th data-field="title">Título</th>
        </tr>
      </thead>
      <tbody>
      <tbody>
      {% for item in items.supported %}
        <tr>
          <td id="data">{{item.date}}</td>
          <td id="title">
            {{item.title_clickable|safe}}
            <a id="link" data-title="{{item.title}}" href={{item.url}} target="_blank">
                <img src="{{item.link_image}}" width="{{item.image_width}}" height="20">
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <br><br>

    <center><h3>Acusado(a) por / Oposto(a) por</h3></center>
    <table class="ent2_opposes_ent1"
           data-pagination="true"
           data-search="true"
           data-toggle="table">
      <thead>
        <tr>
          <th data-sortable="true" data-field="date">Data</th>
          <th data-field="title">Título</th>
        </tr>
      </thead>
      <tbody>
      {% for item in items.opposed_by %}
        <tr>
          <td id="data">{{item.date}}</td>
          <td id="title">
            {{item.title_clickable|safe}}
            <a id="link" data-title="{{item.title}}" href={{item.url}} target="_blank">
                <img src="{{item.link_image}}" width="{{item.image_width}}" height="20">
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    <br><br>

    <center><h3>Apoiado(a) por / Defendido(a) por</h3></center>
    <table class="ent2_supports_ent1"
           data-pagination="true"
           data-search="true"
           data-toggle="table">
      <thead>
        <tr>
          <th data-sortable="true" data-field="date">Data</th>
          <th data-field="title">Título</th>
        </tr>
      </thead>
      <tbody>
      {% for item in items.supported_by %}
        <tr>
          <td id="data">{{item.date}}</td>
          <td id="title">
            {{item.title_clickable|safe}}
            <a id="link" data-title="{{item.title}}" href={{item.url}} target="_blank">
                <img src="{{item.link_image}}" width="{{item.image_width}}" height="20">
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


</div>

  <script>
      timeline(document.querySelectorAll('.timeline'), {
          verticalStartPosition: 'right',
          verticalTrigger: '150px'
      });
  </script>
