{% extends 'base.html' %}

{% block title %} Grafo de Relações {% endblock %}

{% block body %}


<style>
    #cy {
        width: 75%;
        height: 75%;
        background-color: #EFEEEE;
        // position: absolute;
        top: 20%;
        left: 15%;
    }
</style>

<!--
<style>
    #cy {
      width: 300px;
      height: 300px;
      display: block;
    }
</style>
-->


<div class="container" id="container">

    <div id="inner">
        <div id="cy"></div>
    </div>


    <script src="static/vendor/cytoscape.min.js"></script>
    <script>

    var edges = {{elements|tojson}};

    console.log(edges);

    var cy = cytoscape({
      container: document.getElementById('cy'), // container to render in
      elements: edges,

      style: [
        {
          selector: 'node',
          style: {
            'background-color': '#666',
            'label': 'data(label)'
          }
        },
        {
          selector: 'edge',
          style: {
            'label': '',
            'width': 0.5,
            'line-color': 'data(color)',
            'target-arrow-color': '#ccc',
            'target-arrow-shape': 'triangle',
            'curve-style': 'bezier'
          }
        }
      ],

      layout: {
        name: 'random',
        rows: 101
      }
    });
</script>

</div>

{% endblock %}
