<style type="text/css">
    #viz {
        width: 85%;
        height: 95%;
        border: 2px solid lightgray;
        font: 12pt arial;
    }
    #controls {
        width: 15%;
        height: 95%;
        border: 2px solid lightgray;
        font: 12pt arial;
    }
</style>

<!-- Jquery needs to come first to avoid: 'Uncaught ReferenceError: $ is not defined' -->
<script src="static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
-->

<!-- Custom styles for this template
<link href="static/css/heroic-features.css" rel="stylesheet">
-->

<!-- Jquery UI -->
<link rel="stylesheet" href="static/css/jquery-ui.css">
<script src="static/vendor/jquery-ui.js"></script>

<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
<script>

    var viz; // needs to be defined becoming a global, so that it can be called from the bottom
    var ip_address = {{ ip_address|tojson }};
    var url = `bolt://${ip_address}:7687.`
    console.log(ip_address)
    console.log(url)

    function draw() {
        var config = {
            container_id: "viz",
            server_url: url,
            server_user: "neo4j",
            server_password: "s3cr3t",
            arrows: true,

            labels: {
                "Person": {
                    caption: "name",
                    // size: "pagerank",
                    // community: "community"
                }
            },

            relationships: {
                "ACUSA": {
                    caption: true,
                    thickness: "freq",
                },
                "APOIA": {
                    caption: true,
                    thickness: "freq",
                }
            },
            initial_cypher: "MATCH (n)-[r:ACUSA|APOIA]->(m) WHERE r.freq > 5 RETURN n,r,m"

        }
        viz = new NeoVis.default(config);
        viz.render();
    };

    nomes = [];
    $.getJSON("static/json/persons.json", function(json_data){
        for (var i = 0, len = json_data.length; i < len; i++) {
            var person = {label: json_data[i].name, value: json_data[i].wiki_id};
            nomes.push(person);
        };
    });

    /* select a personality */
    $(function() {
      $("#autocomplete_person").autocomplete({
        source: nomes,  // nomes is initialized in base.html
        focus: function(event, ui) {
            event.preventDefault();
            $(this).val(ui.item.label);
        },
        select: function(event, ui) {
            event.preventDefault();
            $(this).val(ui.item.label);
            $("#autocomplete_person_value").val(ui.item.value);
        }
      });
    });


</script>

<body onload="draw()">

    <div class="container w-100">

        <div id="viz"></div>

        <div id="controls">
            <input id="autocomplete_person" class="span10" type="text" placeholder="Personalidade"/>
            <input id="autocomplete_person_value" type="hidden" name="wiki">
            <input type="text" rows="2" id="freq"/>
            <input type="submit" value="Actualizar" id="reload"/>
        </div>

    </div>


</body>

<script>
    $("#reload").click(function() {
        var edge_weight = $("#freq").val();
        var wiki_id = $("#autocomplete_person_value").val();

        //var query = `MATCH p=(:Person)-[r:ACUSA|APOIA]->(p1:Person { id: '${wiki_id}' }) WHERE r.freq > ${edge_weight} RETURN p LIMIT 250`

        var query = `
            MATCH p1=(:Person)-[r1:ACUSA|APOIA]->(p:Person { id: '${wiki_id}' })
            MATCH (p:Person { id: '${wiki_id}' })-[r2:ACUSA|APOIA]->(p2:Person)
            MATCH (p:Person { id: '${wiki_id}' })-[r2:ACUSA|APOIA]->(p2:Person)
            WHERE r1.freq > ${edge_weight} AND r2.freq > ${edge_weight}
            RETURN p1,p2,r1,r2
            `

        console.log(query);
        viz.renderWithCypher(query);
        //console.log("reload");
        //viz.reload();
        }
    );
</script>
