{% extends 'base.html' %}

{% block title %} Grafo de Relações {% endblock %}

{% block body %}

<style type="text/css">

      #mynetwork {
        margin-top: 3px;
        margin-bottom: 5px;
        width: 1000px;
        height: 810px;
        border: 1px solid rgb(0, 0, 0);
        font: 6pt arial;
      }

      #loadingBar {
        position: absolute;
        top: 0px;
        left: 33%;
        background-color: rgba(200, 200, 200, 0.8);
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        opacity: 1;
      }


      #text {
        position: absolute;
        top: 8px;
        left: 530px;
        width: 30px;
        height: 50px;
        margin: auto auto auto auto;
        font-size: 22px;
        color: #000000;
      }

      div.outerBorder {
        position: relative;
        top: 400px;
        width: 600px;
        height: 44px;
        margin: auto auto auto auto;
        border: 8px solid rgba(0, 0, 0, 0.1);
        background: rgb(252, 252, 252); /* Old browsers */
        background: -moz-linear-gradient(
          top,
          rgba(252, 252, 252, 1) 0%,
          rgba(237, 237, 237, 1) 100%
        ); /* FF3.6+ */
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0%, rgba(252, 252, 252, 1)),
          color-stop(100%, rgba(237, 237, 237, 1))
        ); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(
          top,
          rgba(252, 252, 252, 1) 0%,
          rgba(237, 237, 237, 1) 100%
        ); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(
          top,
          rgba(252, 252, 252, 1) 0%,
          rgba(237, 237, 237, 1) 100%
        ); /* Opera 11.10+ */
        background: -ms-linear-gradient(
          top,
          rgba(252, 252, 252, 1) 0%,
          rgba(237, 237, 237, 1) 100%
        ); /* IE10+ */
        background: linear-gradient(
          to bottom,
          rgba(252, 252, 252, 1) 0%,
          rgba(237, 237, 237, 1) 100%
        ); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
        border-radius: 72px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }

      #border {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 500px;
        height: 23px;
        margin: auto auto auto auto;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }

      #bar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 20px;
        height: 20px;
        margin: auto auto auto auto;
        border-radius: 11px;
        border: 2px solid rgba(30, 30, 30, 0.05);
        background: rgb(0, 173, 246); /* Old browsers */
        box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
      }

      #float-child {
        width: 50%;
        float: left;
        padding: 20px;
        border: 2px solid red;
      }

      /* The whole thing */
      .custom-menu {
          display: none;
          z-index: 1000;
          position: absolute;
          overflow: hidden;
          border: 1px solid #CCC;
          white-space: nowrap;
          font-family: sans-serif;
          background: #FFF;
          color: #333;
          border-radius: 5px;
          padding: 0;
      }

</style>
<script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<script>
    var nodes_lst = {{ nodes|tojson }};
    var edges_lst = {{ edges|tojson }};
    var nodes = new vis.DataSet(nodes_lst)
    var edges = new vis.DataSet(edges_lst)
</script>

<body>
    <div class="container" id="container">
      <div class="row">
        <div class="col" style="max-width: 10%" id="controls">
            <hr>
            Min.
            <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                   class="form-control" style="width:50px;" maxlength="2"
                   id="freq_min" value="10" placeholder="10">
            Max.
            <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                   class="form-control" style="width:50px;" maxlength="2"
                   id="freq_max" value="30" placeholder="30">
            <hr>
            Relação:
            <select style="width:85px;" class="form-control" id="rel_type">
                <option value="supports">Apoia</option>
                <option value="opposes">Acusa</option>
                <option value="all" selected>Todas</option>
            </select>
            <hr>
            De:
            <select style="width:75px;" class="form-control" id="ano_from"></select>
            Até:
            <select style="width:75px;" class="form-control" id="ano_to" ></select>
            <hr>
            k-clique:
            <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                    class="form-control" style="width:50px;" maxlength="2"
                   id="k_clique" value="3" placeholder="3">
            <br>
            <input type="submit" value="Actualizar" id="reload"/>
        </div>
        <hr>
        <div class="col" style="max-width: 90%" id="graph">
          <div id="mynetwork"></div>
            <div id="loadingBar">
              <div class="outerBorder">
                <div id="text">0%</div>
                  <div id="border">
                    <div id="bar"></div>
                  </div>
                </div>
              </div>
        </div>
      </div>
        <div class="row">
            <div class="col" style="max-width: 10%"></div>
            <div class="col d-flex justify-content-center" id="selection_info">&nbsp;</div>
        </div>
        <br>
    </div>

    <script type="text/javascript">
      // create a network
      var container = document.getElementById("mynetwork");
      var data = {
        nodes: nodes,
        edges: edges,
      };

      var options = {
        physics:{
            enabled: true
        },
        interaction: {
            navigationButtons: true,
            selectConnectedEdges: false
        },
        nodes: {
          shape: 'dot',
          font: {
            size: 26,
            strokeWidth: 7},
          },
        edges: {
          arrows: {
            to: { enabled: true }
          },
          length: 250,
          scaling:{
                min: 1,
                max: 15,
                label: {
                    enabled: true,
                    min: 14,
                    max: 30,
                    maxVisible: 30,
                    drawThreshold: 5
                },
                customScalingFunction: function (min,max,total,value) {
                    if (max === min) {
                        return 0.5;
                    }
                    else {
                        var scale = 1 / (max - min);
                        return Math.max(0,(value - min)*scale);
                    }
                }
          }
        },
        layout: {
          improvedLayout: false,
          hierarchical: {
            enabled: false,
            sortMethod: 'hubsize'
          }
        },
      };

      var network = new vis.Network(container, data, options);

      network.on("click", function (params) {
        console.log("clicked!")
        params.event.preventDefault();
        
        pointer = params['pointer']['DOM']
        node = network.getNodeAt(pointer)
        edge = network.getEdgeAt(pointer)
        console.log("node: ", node)
        console.log("edge: ", edge)

        console.log(pointer)
        console.log(params['event']['center']['y'])
        console.log(params['event']['center']['x'])
        
        // clicked nothing
        if (node == null && edge == null) {
          console.log('nothing selected')
          $(".custom-menu").hide();
        }

        // clicked a Node
        else if (node != null && edge == null) {
          //$(".custom-menu").finish().toggle(100);
          $(".custom-menu").show();
          $(".custom-menu").css({
            top: params['event']['center']['y'] + "px",
            left: params['event']['center']['x'] + "px"
          });
          /*
          var node_id = obj['nodes'][0];
          var node_name = network.body.nodes[node_id].options['label']
          console.log(node_name)
          */
        }
        
        // clicked an Edge
        else if (node == null && edge != null) {
          var edge_id = edge
          var rel_text = network.body.edges[edge_id].options.label;
          var freq = network.body.edges[edge_id].options.title
          var from = network.body.edges[edge_id]["fromId"]
          var to = network.body.edges[edge_id]["toId"]
          var from_name = network.body.nodes[from].options['label']
          var to_name = network.body.nodes[to].options['label']
          var hostname = window.location.origin
          var year_from = $("#ano_from").val();
          var year_to = $("#ano_to").val();
          var url = `${hostname}/queries?query_nr=one&e1=${from}&e2=${to}&year_from=${year_from}&year_to=${year_to}&relationship=${rel_text}&html=true`
          var noticias_html = `<a href=${url} target="_blank">${freq} notícias</a>`
          var e1_url = `${hostname}/entity?q=${from}`
          var e1_html = `<a href=${e1_url} target="_blank">${from_name}</a>`
          var e2_url = `${hostname}/entity?q=${to}`
          var e2_html = `<a href=${e2_url} target="_blank">${to_name}</a>`
          rel_html = `<b>${rel_text}</b>`
          
          //$(".custom-menu").finish().toggle(100);
          
          $(".custom-menu").find('#noticias').html(noticias_html);
          $(".custom-menu").find('#ent1').html(e1_html);
          $(".custom-menu").find('#rel_type').html(rel_html);
          $(".custom-menu").find('#ent2').html(e2_html);
          $(".custom-menu").show();
          $(".custom-menu").css({
            top: params['event']['center']['y'] + "px",
            left: params['event']['center']['x'] + "px"
          });
        }

      console.log("---------")
      
      });

      network.on("stabilizationProgress", function (params) {
          var maxWidth = 496;
          var minWidth = 20;
          var widthFactor = params.iterations / params.total;
          var width = Math.max(minWidth, maxWidth * widthFactor);
          document.getElementById("bar").style.width = width + "px";
          document.getElementById("text").innerText =
            Math.round(widthFactor * 100) + "%";
        });

      network.once("stabilizationIterationsDone", function () {
        document.getElementById("text").innerText = "100%";
        document.getElementById("bar").style.width = "496px";
        document.getElementById("loadingBar").style.opacity = 0;
        // really clean the dom element
        setTimeout(function () {
          document.getElementById("loadingBar").style.display = "none";
        }, 500);
      });

      /*
      //ToDo: experimentar isto
      network.on('dragStart', function(params) {
        if (params.nodes.length > 0) {
          let nodeId = this.getNodeAt(params.pointer.DOM);
          // network._data.nodes.update({id: nodeId, fixed: {x: false, y: false}});
        }
      });

      network.on('dragEnd', function (params) {
        if (params.nodes.length > 0) {
          let nodeId = this.getNodeAt(params.pointer.DOM);
          // network._data.nodes.update({id: nodeId, fixed: {x: true, y: true}});
        }
      });
      */


    </script>

    <div class="custom-menu" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title text-center" id="noticias"></h5>
        <p class="card-text text-center" id="ent1"></p>
        <p class="card-text text-center" id="rel_type"></p>
        <p class="card-text text-center" id="ent2"></p>
      </div>
    </div>

</body>

<script>

    var years = ["1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", "2002", "2003",
                 "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013",
                 "2014", "2015", "2016", "2017", "2018", "2019"];

    for (var i=0; i< years.length;i++) {
        jQuery('<option/>', {
            value: years[i],
            html: years[i]
        }).appendTo('#ano_from, #ano_to');
    }

    $('#ano_from option').eq((2000-1994)).prop('selected', true);
    $('#ano_to option').eq((2019-1994)).prop('selected', true);

    $("#reload").click(function() {

        var year_from = $("#ano_from").val();
        var year_to = $("#ano_to").val();
        var freq_min = $("#freq_min").val();
        var freq_max = $("#freq_max").val();
        var rel_type = $("#rel_type").val();
        var k_clique = $("#k_clique").val();

        data = {freq_min: freq_min,
                freq_max: freq_max,
                rel_type: rel_type,
                year_from: year_from,
                year_to: year_to,
                k_clique: k_clique}

        //query neo4j
        $.ajax({
            type: 'get',
            data: data,
            url: '/graph',
            error: function () {
                alert("There was an error processing this page.");
                return false;
            },
            complete: function (output) {

              if (output.responseJSON['nodes'].length == 0) {
                alert("Não foram encontrados resultados");
              }

              else {
                
                $(".custom-menu").hide();

                var data = {
                    nodes: output.responseJSON['nodes'],
                    edges: output.responseJSON['edges']
                };

                var network = new vis.Network(container, data, options);

                /*
                network.on("selectNode", function (obj) {
                    var node_id = obj['nodes'][0];
                    var node_name = network.body.nodes[node_id].options['label']
                    var hostname = window.location.origin
                    var url = `${hostname}/entity?q=${node_id}`
                    var html = `<a href=${url} target="_blank">${node_name}</a>`

                    // clean node info
                    $('#selection_info').html(' ');

                    // show edge info
                    $('#selection_info').html(html);

                  });
                  */

                network.on("click", function (params) {
                  console.log("clicked!")
                  params.event.preventDefault();
                  
                  pointer = params['pointer']['DOM']
                  node = network.getNodeAt(pointer)
                  edge = network.getEdgeAt(pointer)
                  console.log("node: ", node)
                  console.log("edge: ", edge)

                  console.log(pointer)
                  console.log(params['event']['center']['y'])
                  console.log(params['event']['center']['x'])
                  
                  // clicked nothing
                  if (node == null && edge == null) {
                    console.log('nothing selected')
                    $(".custom-menu").hide();
                  }

                  // clicked a Node
                  else if (node != null && edge == null) {
                    //$(".custom-menu").finish().toggle(100);
                    $(".custom-menu").show();
                    $(".custom-menu").css({
                      top: params['event']['center']['y'] + "px",
                      left: params['event']['center']['x'] + "px"
                    });
                    /*
                    var node_id = obj['nodes'][0];
                    var node_name = network.body.nodes[node_id].options['label']
                    console.log(node_name)
                    */
                  }
                  
                  // clicked an Edge
                  else if (node == null && edge != null) {
                    var edge_id = edge
                    var rel_text = network.body.edges[edge_id].options.label;
                    var freq = network.body.edges[edge_id].options.title
                    var from = network.body.edges[edge_id]["fromId"]
                    var to = network.body.edges[edge_id]["toId"]
                    var from_name = network.body.nodes[from].options['label']
                    var to_name = network.body.nodes[to].options['label']
                    var hostname = window.location.origin
                    var year_from = $("#ano_from").val();
                    var year_to = $("#ano_to").val();
                    var url = `${hostname}/queries?query_nr=one&e1=${from}&e2=${to}&year_from=${year_from}&year_to=${year_to}&relationship=${rel_text}&html=true`
                    var noticias_html = `<a href=${url} target="_blank">${freq} notícias</a>`
                    var e1_url = `${hostname}/entity?q=${from}`
                    var e1_html = `<a href=${e1_url} target="_blank">${from_name}</a>`
                    var e2_url = `${hostname}/entity?q=${to}`
                    var e2_html = `<a href=${e2_url} target="_blank">${to_name}</a>`
                    rel_html = `<b>${rel_text}</b>`
                    
                    //$(".custom-menu").finish().toggle(100);
                    
                    $(".custom-menu").find('#noticias').html(noticias_html);
                    $(".custom-menu").find('#ent1').html(e1_html);
                    $(".custom-menu").find('#rel_type').html(rel_html);
                    $(".custom-menu").find('#ent2').html(e2_html);
                    $(".custom-menu").show();
                    $(".custom-menu").css({
                      top: params['event']['center']['y'] + "px",
                      left: params['event']['center']['x'] + "px"
                    });
                  }

                console.log("---------")
                
                });

                network.on("stabilizationProgress", function (params) {
                    document.getElementById('loadingBar').style.opacity = 1;
                    //document.getElementById('loadingBar').display = flex;
                    $("#loadingBar").css("display", "flex");
                    var maxWidth = 496;
                    var minWidth = 20;
                    var widthFactor = params.iterations / params.total;
                    var width = Math.max(minWidth, maxWidth * widthFactor);
                    document.getElementById('bar').style.width = width + 'px';
                    document.getElementById('text').innerHTML = Math.round(widthFactor * 100) + '%';
                });

                network.on("stabilizationIterationsDone", function () {
                    document.getElementById('text').innerHTML = '100%';
                    document.getElementById('bar').style.width = '496px';
                    document.getElementById("loadingBar").style.opacity = 0;
                    // really clean the dom element
                    setTimeout(function () {
                      document.getElementById("loadingBar").style.display = "none";
                    }, 500);
                });
              }
            }
        })
      });

</script>

{% endblock %}
