{% extends 'base.html' %}

{% block title %} Grafo de Relações {% endblock %}

{% block body %}

<style type="text/css">
    #viz {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 1130px;
        height: 800px;
        border: 1px solid rgb(0, 0, 0);
        font: 6pt arial;
    }
</style>
<script src="static/vendor/neovis/neovis.js"></script>
<script>
    
    var viz; // needs to be defined becoming a global, so that it can be called from the bottom
    var ip_address = {{ ip_address|tojson }};
    var url = `bolt://${ip_address}:7687.`
    function draw() {
        var config = {
            container_id: "viz",
            server_url: 'bolt://localhost:7687',
            server_user: "neo4j",
            server_password: "s3cr3t",
            arrows: true,

            hierarchical: false,
            fix_nodes_in_place_on_drag: true,

            visConfig: {
                nodes: {
                    shape: 'square'
                }
            },
            labels: {
                "Person": {
                    caption: "name",
                    size: "pagerank",
                    //community: "community"
                }
            },

            relationships: {
                "ACUSA": {
                    caption: true,
                    thickness: "freq",
                },
                "APOIA": {
                    caption: true,
                    thickness: "freq",
                }
            },
            initial_cypher: "MATCH (n)-[r:ACUSA|APOIA]->(m) WHERE r.freq > 5 RETURN n,r,m"
        }
    
        viz = new NeoVis.default(config);
        viz.render();
        //console.log(viz);
    };

</script>

<body onload="draw()">

    <!-- TODO: add default values -->

    <div class="container" id="container">
        <div class="row">
            <div class="form-inline">
                <div class="col-xs-2">
                    <input type="text" id="freq" class="form-control" value="5" placeholder="5">
                    <select class="form-control" id="rel_type" >
                        <option value="supports">Apoia</option>
                        <option value="opposes">Acusa</option>
                        <option value="all">Todas</option>
                    </select>
                    <select class="form-control" id="ano_from"></select>
                    <select class="form-control" id="ano_to" ></select>
                    <input type="submit" value="Actualizar" id="reload"/>
                    <br>
                </div>
            </div>
            <div class="col-xs-2">
                <div id="viz"></div>
            </div>
        </div>
    </div>

    
    
</body>

<script>

    var years = ["1994", "1995", "1996", "1997", "1998", "1999", "2000", "2001", "2002", "2003", "2004", "2005", "2006", 
                 "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018"];

    for (var i=0; i< years.length;i++) {
        jQuery('<option/>', {
            value: years[i],
            html: years[i]
        }).appendTo('#ano_from, #ano_to');
    }


    $("#reload").click(function() {

        // select time span
        var ano_from = $("#ano_from").val();
        var ano_to = $("#ano_to").val();

        // select the filter for the 
        var edge_weight = $("#freq").val();
        
        // extract the selected relationship
        var rel_type = $("#rel_type").val();
        if (rel_type == 'supports') {
            relation = 'APOIA'
        }
        else if (rel_type == 'opposes') {
            relation = 'ACUSA'
        }
        else relation = 'ACUSA|APOIA'

        console.log(ano_from)
        console.log(ano_to)

        
        var query = `MATCH (n)-[r:${relation}]->(m) WHERE r.freq > ${edge_weight} RETURN n,r,m`
        console.log(query);
        viz.renderWithCypher(query);
        }
    );
</script>

{% endblock %}