{% extends 'base.html' %}

{% block title %} Personalidades sem imagem {% endblock %}

{% block body %}

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <h4><b>Personalidades Política sem imagem</b></h4>
    </header>

    {% for tmp in items|batch(4) %}
      <div class="row text-center">
          {% for item in tmp %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <center>
                        <img class="figure-img img-fluid rounded" src="/static/images/no_picture.jpg" width="120" height="150" alt="">
                    </center>
                    <div class="card-body">
                        <h6 class="card-title"><a href=/entity?q={{item.wikidata_id}}>{{item.label}}</a></h6>
                        <!--<center>{{item.nr_articles}} articles</center>-->
                    </div>
                </div>
            </div>
          {% endfor %}
      </div>
    {% endfor %}

</div>

<br><br>

{% endblock %}