{% extends 'base.html' %}

{% block title %} politiquices.pt {% endblock %}

{% block body %}

<div class="container" id="container">

    <script>

      parties = [];
      all_entities = [];
      personalities = [];
      
      $.getJSON("static/json/parties.json", function(json_data){
          for (var i = 0, len = json_data.length; i < len; i++) {
              var party = {label: json_data[i].name, value: json_data[i].wiki_id};
              parties.push(party);
              all_entities.push(party);
          };
      });
      
      $.getJSON("static/json/persons.json", function(json_data){
          for (var i = 0, len = json_data.length; i < len; i++) {
              var person = {label: json_data[i].name, value: json_data[i].wiki_id};
              personalities.push(person);
              all_entities.push(person);
          };
      });
      
      /* input_left */
      $(function() {
        $("#autocomplete_entity_one").autocomplete({
          source: all_entities,
          focus: function(event, ui) {          
              event.preventDefault();   // prevent autocomplete from updating the textbox
              $(this).val(ui.item.label);
          },
          select: function(event, ui) {        
              event.preventDefault();
              $(this).val(ui.item.label);
              $("#autocomplete_entity_one_value").val(ui.item.value);
          }
        });
      });
    
      /* input_right */
      $(function() {
        $("#autocomplete_entity_two").autocomplete({
          source: all_entities,
          focus: function(event, ui) {          
              event.preventDefault();
              $(this).val(ui.item.label);
          },
          select: function(event, ui) {          
              event.preventDefault();
              $(this).val(ui.item.label);
              $("#autocomplete_entity_two_value").val(ui.item.value);
          }
        });
      });
    
      $(document).ready ( function () {
    
        /* Relações entre duas entidades */
        $(document).on ("click", "#button", function () {
            var wiki_id_one = $('#autocomplete_entity_one_value').val();
            var wiki_id_two = $('#autocomplete_entity_two_value').val();
            var e = document.getElementById("dropdownMenuButton");
            var data = {query_nr: 'one',
                        e1: wiki_id_one,
                        e2: wiki_id_two,
                        relationship: e.textContent};
            $.ajax({
              type: 'get',
              data: data,
              url: '/queries',
              error: function () {
                alert("There was an error processing this page.");
                return false;
              },
              complete: function (output) {
                $('#inner').html(output.responseText);
    
              }
            });
        });

        /* Dropdown to correct/annotataed relationships */
        $(document).ready(function() {
          $(".dropdown-menu").on('click', 'a', function(){
            $(this).parents('.dropdown').find('button').text($(this).text());
          });
        });


      });
    
    </script>
  
    <br><br>

    <div class="container" id="inner">

        <!-- intro -->
        <div class="container d-flex align-items-center justify-content-center">
          <div class="w-100">
            <p>O politiquices.pt permite pesquisar e analisar relações de <b>apoio</b> ou <b>oposição</b>
               entre personalidades políticas expressas em títulos de artigo de jornal.</p>
           </div>
        </div>
        
        <div class="container d-flex align-items-center justify-content-center">
          <div class="w-100">            
            <p class="font-weight-bold">Relações entre duas personalidade:</p>
              <ul>
                <li>'Quais as relações de apoio/acusação entre António Costa e Marcelo Rebelo de Sousa?'</li>
              </ul>
          
            <p class="font-weight-bold">Relações entre membros de um partido e uma personalidade</p>
              <ul>
                <li>'Que personalidades do BE se oposeram a Jerónimo de Sousa?'</li>
                <li>'Quem de dentro do PS se opôs a José Sócrates?'</li>
              </ul>

            <p class="font-weight-bold">Relações entre membros de dois partidos</p>
              <ul>
                <li>'Que personalidades do BE se oposeram a personalidades do PCP?</li>
                <li>'Que personalidades do PS apoiaram personalidades do PSD?'</li>
              </ul>
        </div>
      </div>

      <br>

      <center>
        <form class="container-fluid justify-content-center align-items-center">
          <input id="autocomplete_entity_one_value" type="hidden" name="wiki">
          <input id="autocomplete_entity_two_value" type="hidden" name="wiki">
          <div class="control-group">
              <div class="controls controls-row row-fluid col-xs-4">                  
                <input id="autocomplete_entity_one" class="span10" type="text" placeholder="Partido ou Personalidade"/>
                  <div class="dropdown" style="display: inline;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" 
                            id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">opoe-se</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item">opoe-se</a>
                              <a class="dropdown-item">apoia</a>
                            </div>
                  </div>
                <input id="autocomplete_entity_two" class="span10" type="text" placeholder="Partido ou Personalidade"/>
                <button type="button" id='button' class="btn btn-primary btn-sm">Procurar</button>
              </div>
          </div>
        </form>
      </center>
    </div>

    <br><br><br><br>

</div>

{% endblock %}
