{% extends 'base.html' %}

{% block title %} Personalidades do {{ name }} {% endblock %}

{% block body %}

<div class="container" id="container">>

    <br>
    <center><h4><b>{{name}}</b></h4></center>
    <br>

    <div id="inner" class="container d-flex align-items-center justify-content-center">

        <div class="media">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{{logo}}" width="120" height="150" alt="">
                <figcaption class="figure-caption" style="text-align:center;">
                    <a id="ent1_wikid_id" href=https://www.wikidata.org/wiki/{{party_wiki_id}} target="_blank">Editar na Wikidata</a>
                </figcaption>
            </figure>
        </div>

    </div>

    {% for tmp in items|batch(4) %}
      <div class="row text-center" id="entities">
          {% for item in tmp %}
            <div class="col-lg-3 col-md-6 mb-4">
                <a style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 32px;" href="/entity?q={{item.wiki_id}}" class="custom-card">
                <div class="card h-100">
                    <center>
                        <img class="figure-img img-fluid rounded" src="{{item.image_url}}" width="120" height="150" alt="">
                    </center>
                    <div class="card-body">
                        <h6 class="card-title">{{item.name}}</h6>
                    </div>
                </div>
                </a>
            </div>
          {% endfor %}
      </div>
    {% endfor %}

</div>

<br><br>

{% endblock %}