{% extends 'base.html' %}

{% block title %} Personalidades {% endblock %}

{% block body %}

<div class="container" id="container">

    <script id="auto-scroll">

    var batch_size = 16
    var last_index = batch_size

    $(window).scroll(function () {
        // End of the document reached?
        if ($(document).height() - $(this).height() - 100 < $(this).scrollTop()) {
            $.ajax({
                type: "GET",
                url: "/load_entities",
                contentType: "application/json; charset=utf-8",
                data: {'last_index': last_index },
                dataType: "JSON",
                success: function (data) {

                      var html = "<div class=\"row text-center\" id=\"entities\">";
                      $.each(data, function(index, element){
                        html += "<div class=\"col-lg-3 col-md-6 mb-4\"><a style=\"display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 32px;\" href=\"/entity?q=" + element.wikidata_id + '"' + " class=\"custom-card\"><div class=\"card h-100\"><center><img class=\"figure-img img-fluid rounded\" src=\"" + element.image_url + "\"width=\"120\" height=\"150\"></center><div class=\"card-body\"><h6 class=\"card-title\">" + element.name + "</h6><center>" + element.nr_articles + "</center></div></div></a></div>"
                      });

                      $("#container").append(html);
                      last_index += batch_size

                },
                error: function (req, status, error) {
                    alert("Error try again");
                }
            });
        }
    });

    </script>

    <div id="inner" class="w-100 p-1">
    {% for tmp in items|batch(4) %}
      <div class="row text-center" id="entities">
          {% for item in tmp %}
            <div class="col-lg-3 col-md-6 mb-4">
                <a style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 32px;" href="/entity?q={{item.wiki_id}}" class="custom-card">
                <div class="card h-100">
                    <center>
                        <img class="figure-img img-fluid rounded" src="{{item.image_url}}" width="120" height="150" alt="">
                    </center>
                    <div class="card-body">
                        <h6 class="card-title">{{item.name}}</h6>
                        <center>{{item.nr_articles}} artigos</center>
                    </div>
                </div>
                </a>
            </div>
          {% endfor %}
      </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
