{% extends 'base.html' %}

{% block body %}

<br>

<div class="container">

    <!-- Info about the two entities -->
    <div class="row justify-content-center">
        <div class="col-xs-6">
            <div id="outer_party" class="container d-flex align-items-center justify-content-center">
                <div class="media">
                    <figure class="figure">
                        <a href=/party_members?q={{party.wiki_id}} target="_blank">
                            <img class="figure-img img-fluid rounded" src="{{party.party_logo}}" width="120" height="150" alt="">
                            <figcaption class="figure-caption" style="text-align:center;">
                                <b>{{party.party_label}}</b>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <center><h4><b>{{relationship_text}}</b></h4></center>
        </div>

        <div class="col-xs-6">
            <div id="outer_person" class="container d-flex align-items-center justify-content-center">
            <!-- Foto -->
            <div class="media">
                <figure class="figure">
                    <a href=/entity?q={{person.wiki_id}} target="_blank">
                        <img src={{person.image_url}} class="figure-img img-fluid rounded" width="144" height="180" alt="{{person.name}}" title="{{person.name}}">
                        <figcaption class="figure-caption" style="text-align:center;">
                            <b>{{person.name}}</b>
                        </figcaption>
                    </a>
                </figure>
            </div>

            <!-- Partidos -->
            <div class="col-auto">
                <table>
                  <tbody>
                  {% for item in person.parties %}
                  <tr>
                      <td>
                        <a href="/party_members?q={{item.wiki_id}}" target="_blank">
                            <img src={{item.image_url}} class="figure-img img-fluid rounded" width="60" height="75" alt="{{item.name}}" title="{{item.name}}">
                        </a>
                      </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <!-- Char with relationships throughout the years -->
    <center><h4><b>Frequência das relações ao longo dos anos</b></h4></center>
    <br>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <canvas id="myChart" width="900" height="250"></canvas>
      </div>
    </div>
    <script>
        var ctx = document.getElementById('myChart');
        var color = Chart.helpers.color;

        var year_labels = {{ labels|tojson }};
        var rel_freq = {{ rel_freq_year|tojson }};
        var rel_text = {{ rel_text|tojson }};

        // labels based on personalities names
        var ent1 = {{ party.party_label|tojson }};
        var ent2 = {{ person.name|tojson }};
        var label = `${ent1} ${rel_text} ${ent2}`

        if (rel_text == 'apoia') {
            var rel_color = "#44861E";
        }

        if (rel_text == 'opõe-se') {
            var rel_color = "#FF0000";
        }

        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: year_labels,
          datasets: [
            {label: label, backgroundColor: rel_color, fill: true, data: rel_freq},
            ]
          },
        options: {
          scales: {
            x: {stacked: true},
          }
        }
    });
    </script>
    <br><br>

    <!--Heat with relationships/persons throughout the years -->
    <center><h4><b>Frequência de outras personalidades nas relações ao longo dos anos</b></h4></center>
    <div id="chart"></div>
    <br><br>

    <!-- List of relationships -->
    <center id="relationships"><h4><b>Relações expressas em títulos de notícias</b></h4></center>
    <br><br>
    <div class="container" id="single_table">
        <table id="table">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="data">Data</th>
                    <th data-field="titulo">Título</th>
                    <th data-field="ent1" data-force-export="true" data-visible="false">Personalidade_1</th>
                    <th data-field="ent2" data-force-export="true" data-visible="false">Personalidade_2</th>
                    <th data-field="ent1_wiki" data-force-export="true" data-visible="false">Wikidata_PER_1</th>
                    <th data-field="ent2_wiki" data-force-export="true" data-visible="false">Wikidata_PER_2</th>
                    <th data-align="center" data-force-hide="true" data-field="link">Artigo</th>
                    <th data-field="url" data-force-export="true" data-visible="false">URL</th>
                </tr>
            </thead>
        </table>
    </div>

</div>

<!-- Datatables: for some reason this needs to reloaded to trigger the rendering of the table -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
<script>
    var relationships = {{ relationships|safe }};
    var $table = $('#table');
    $(function (table) {
        $('#table').bootstrapTable({
            data: relationships,
            //toolbar: "#toolbar",
            //pagination: true,
            //sidePagination: "server",
            //pageSize: "10",
            //pageList: "[10, 25, 50, All]",
            search: true,
            height: "600",
            showExport: true,
            exportTypes: ['csv'],
            exportDataType: 'all',
            showFooter: false,
            exportFooter: false,
            locale: 'pt-PT'
        });
    });
    //$(document).scrollTop( $(relationships).offset().top);
    //$('html,body').scrollTop(0);

</script>

<!--Aphexcharts: for some reason this needs to loaded after the tables to work -->
<script src="static/vendor/apexcharts.js"></script>
<script>
    var heatmap = {{ heatmap|tojson }};
    var heatmap_gradient = {{ heatmap_gradient|tojson }};
    var heatmap_height = {{ heatmap_height|tojson }};
    var ent2_wiki_id = {{ person.wiki_id|tojson }};
    var rel_text = {{ rel_text|tojson }};
    var options = {
      series: heatmap,
      chart: {
        height: heatmap_height,
        type: 'heatmap',
        events: {
            dataPointSelection: function(event, chartContext, config) {
                var person = heatmap[config['seriesIndex']]['name'];
                var year = config['dataPointIndex']+1994;
                var ent1_wiki_id = persons2wiki_id[person];
                
                // make an AJAX request
                var data = {
                    e1: ent1_wiki_id,
                    e2: ent2_wiki_id,
                    year: year,
                    relationship: rel_text
                };
                
                var url = `/queries?e1=${ent1_wiki_id}&e2=${ent2_wiki_id}&year=${year}&relationship=${data['relationship']}`
                console.log(url)
                window.location.href = url

                /*
                $.ajax({
                    type: 'get',
                    data: data,
                    url: '/queries',
                    error: function () {
                        alert("There was an error processing this page.");
                        return false;
                    },
                    complete: function (output) {
                        $('#container').empty();
                        $('#container').html(output.responseText);
                    }
                });
                */
            }
        }
      },
      dataLabels: {
          enabled: true,
          style: {colors: ['#fff']}
      },
      xaxis: {
          type: 'category',
      },
      colors: [heatmap_gradient],
      title: {text: ''},
    };
    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>

<br><br><br>

{% endblock %}