
<br>

<div class="container">

    <div class="row justify-content-center">

        <div class="col-xs-6">

            <div id="outer_ent1" class="container d-flex align-items-center justify-content-center">
                <!-- Partidos -->
                <div class="col-auto">
                    <table>
                      <tbody>
                      {% for item in entity_one.parties %}
                      <tr>
                          <td>
                            <a href="/party_members?q={{item.wiki_id}}" target="_blank">
                                <img src={{item.image_url}} class="figure-img img-fluid rounded" width="60" height="75" alt="{{item.name}}" title="{{item.name}}">
                            </a>
                          </td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>

                <!-- Foto -->
                <div class="media">
                    <figure class="figure">
                        <a href=/entity?q={{entity_one.wiki_id}} target="_blank">
                        <img src={{entity_one.image_url}} class="figure-img img-fluid rounded" width="144" height="180" alt="{{entity_one.name}}" title="{{entity_one.name}}">
                        </a>
                        <figcaption class="figure-caption" style="text-align:center;">
                            <b>{{entity_one.name}}</b>
                        </figcaption>
                    </figure>
                </div>

            </div>

        </div>

        <div class="col-xs-6">
            <center><h4><b>Relações encontradas</b></h4></center>
        </div>

        <div class="col-xs-6">
            <div id="outer_ent2" class="container d-flex align-items-center justify-content-center">

                <!-- Foto -->
                <div class="media">
                    <figure class="figure">
                        <a href=/entity?q={{entity_two.wiki_id}} target="_blank">
                        <img src={{entity_two.image_url}} class="figure-img img-fluid rounded" width="144" height="180" alt="{{entity_two.name}}" title="{{entity_two.name}}">
                        </a>
                        <figcaption class="figure-caption" style="text-align:center;">
                            <b>{{entity_two.name}}</b>
                        </figcaption>
                    </figure>
                </div>

                <!-- Partidos -->
                <div class="col-auto">
                    <table>
                      <tbody>
                      {% for item in entity_two.parties %}
                      <tr>
                          <td>
                            <a href="/party_members?q={{item.wiki_id}}" target="_blank">
                                <img src={{item.image_url}} class="figure-img img-fluid rounded" width="60" height="75" alt="{{item.name}}" title="{{item.name}}">
                            </a>
                          </td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    </div>

            </div>
        </div>

    </div>
    <br><br>

    <!-- Char with relationships throughout the years -->
    <center><h4><b>Frequência das relações ao longo dos anos</b></h4></center>
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <canvas id="myChart" width="900" height="250"></canvas>
      </div>
    </div>
    <script>

        var ctx = document.getElementById('myChart');
        var color = Chart.helpers.color;

        var year_labels = {{ labels|tojson }};
        var ent1_opposes_ent2 = {{ ent1_opposes_ent2|tojson }};
        var ent1_supports_ent2 = {{ ent1_supports_ent2|tojson }};
        var ent1_opposed_by_ent2 = {{ ent1_opposed_by_ent2|tojson }};
        var ent1_supported_by_ent2= {{ ent1_supported_by_ent2|tojson }};

        var ent1_name = {{ entity_one.name|tojson }};
        var ent2_name = {{ entity_two.name|tojson }};

        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: year_labels,
          datasets: [
            {label: 'ent1 opõe-se ent2', backgroundColor: "#FF0000", fill: true, data: ent1_opposes_ent2},
            {label: 'ent1_apoia ent2', backgroundColor: "#44861E", fill: true, data: ent1_supports_ent2},
            {label: 'ent1 oposto(a) por por ent2', backgroundColor: "#980000", fill: true, data: ent1_opposed_by_ent2},
            {label: 'ent1 apoiado(a) por ent2', backgroundColor: "#70DA33", fill: true, data: ent1_supported_by_ent2},
            ]
          },
        options: {
          scales: {
            x: {stacked: true},
          }
        }
    });

    </script>
    <br><br>

    <!-- Select list of relationships -->
    <center id="relationships"><h4><b>Relações expressas em títulos de notícias</b></h4></center>
    <br>
    <div class="container">
      <div class="row">
        <div id="opposes" class="h4 col-sm">
          Opõe-se
        </div>
        <div id="supports" class="h4 col-sm">
          Apoia
        </div>
        <div id="opposed_by" class="h4 col-sm">
          Oposto(a) por
        </div>
        <div id="supported_by" class="h4 col-sm">
          Apoiado(a) por
        </div>
        <div id="all" class="h4 col-sm">
          Todas
        </div>
      </div>
    </div>
    <br>
    <br>

    <div class="container" id="single_table">
        <table id="table">
            <thead>
                <tr>
                    <th data-sortable="true" data-field="data">Data</th>
                    <th data-field="titulo">Título</th>
                    <th data-field="ent1" data-force-export="true" data-visible="false">Personalidade_1</th>
                    <th data-field="ent2" data-force-export="true" data-visible="false">Personalidade_2</th>
                    <th data-field="ent1_wiki" data-force-export="true" data-visible="false">Wikidata_PER_1</th>
                    <th data-field="ent2_wiki" data-force-export="true" data-visible="false">Wikidata_PER_2</th>
                    <th data-align="center" data-force-hide="true" data-field="link">Artigo</th>
                    <th data-field="url" data-force-export="true" data-visible="false">URL</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- Datatables -->
<script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>


<script>

    var opposed = {{ opposed|safe }};
    var supported = {{ supported|safe }};
    var opposed_by = {{ opposed_by|safe }};
    var supported_by = {{ supported_by|safe }};
    var all_relationships =  {{ all_relationships|safe }};

    var $table = $('#table');

    $(function (table) {
        $('#table').bootstrapTable({
            data: opposed,  // by default we show the 'opposed' table
            //toolbar: "#toolbar",
            //pagination: true,
            //sidePagination: "server",
            //pageSize: "10",
            //pageList: "[10, 25, 50, All]",
            search: true,
            height: "600",
            showExport: true,
            exportTypes: ['csv'],
            exportDataType: 'all',
            showFooter: false,
            exportFooter: false
        });
    });
    $(document).scrollTop( $(relationships).offset().top);

    $("#opposes").click(function() {
      $('#table').bootstrapTable('load', opposed);
      $(document).scrollTop($(relationships).offset().top);
    });

    $("#supports").click(function() {
      $('#table').bootstrapTable('load', supported);
      $(document).scrollTop($(relationships).offset().top);
    });

    $("#opposed_by").click(function() {
      $('#table').bootstrapTable('load', opposed_by);
      $(document).scrollTop($(relationships).offset().top);
    });

    $("#supported_by").click(function() {
      $('#table').bootstrapTable('load', supported_by);
      $(document).scrollTop($(relationships).offset().top);
    });

    $("#all").click(function() {
      $('#table').bootstrapTable('load', all_relationships);
      $(document).scrollTop($(relationships).offset().top);
    });

    $('html,body').scrollTop(0);

  </script>