
<br>

<div class="container">

    <div class="row justify-content-center">

        <div class="col-xs-6">

            <div id="outer_party_one" class="container d-flex align-items-center justify-content-center">

                <div class="media">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" src="{{party_one.party_logo}}" width="120" height="150" alt="">
                        <figcaption class="figure-caption" style="text-align:center;">
                            <b>{{party_one.party_label}}</b>
                        </figcaption>
                    </figure>
                </div>

            </div>

        </div>

        <div class="col-xs-6">
            Relações de apoio/suporte entre XX e XX
        </div>

        <div class="col-xs-6">

            <div id="outer_party_two" class="container d-flex align-items-center justify-content-center">

                <div class="media">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" src="{{party_two.party_logo}}" width="120" height="150" alt="">
                        <figcaption class="figure-caption" style="text-align:center;">
                            <b>{{party_two.party_label}}</b>
                        </figcaption>
                    </figure>
                </div>

            </div>

        </div>

    </div>

    <table data-pagination="true" data-search="true" data-toggle="table">
    <thead>
    <tr>
        <th data-sortable="true" data-field="data">Data</th>
        <th data-field="title">Título</th>
        <th data-align="center" data-field="link">Artigo</th>
    </tr>
    </thead>
    <tbody>
  {% for item in items %}
    <tr>
      <td id="data">{{item.date}}</td>
        <td id="title">{{item.title_clickable|safe}}</td>
        <td id="link"><a href={{item.url}} target="_blank"><img src="{{item.link_image}}" width="{{item.image_width}}" height="20"></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

</div>

<!-- Datatables: for some reason this needs to reloaded to trigger the rendering of the table -->
<script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>
