
<br>

<div class="container h-100">

    <div class="row h-100 justify-content-center">

        <div class="col-xs-6">
            <div id="outer_person" class="container d-flex align-items-center justify-content-center">

    <!-- Foto -->
    <div class="media">
        <figure class="figure">
            <a href=https://www.wikidata.org/wiki/{{person.wiki_id}} target="_blank">
            <img src={{person.image_url}} class="figure-img img-fluid rounded" width="144" height="180" alt="{{person.name}}" title="{{person.name}}">
            </a>
            <figcaption class="figure-caption" style="text-align:center;">
                <b>{{person.name}}</b>
            </figcaption>
        </figure>
    </div>

    <!-- Partidos -->
    <div class="col-auto">
        <table>
          <tbody>
          {% for item in person.parties %}
          <tr>
              <td>
                <a href="/party_members?q={{item.wiki_id}}" target="_blank">
                    <img src={{item.image_url}} class="figure-img img-fluid rounded" width="60" height="75" alt="{{item.name}}" title="{{item.name}}">
                </a>
              </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        </div>

</div>
        </div>

        <div class="col-xs-6">
            Relações de apoio/suporte entre XX e XX
        </div>

        <div class="col-xs-6">
            <div id="outer_party" class="container d-flex align-items-center justify-content-center">

    <!-- Logo -->
    <div class="media">
        <figure class="figure">
            <img class="figure-img img-fluid rounded" src="{{party.party_logo}}" width="120" height="150" alt="">
            <figcaption class="figure-caption" style="text-align:center;">
                <b>{{party.party_label}}</b>
            </figcaption>
        </figure>
    </div>


</div>
        </div>

        <table data-pagination="true" data-search="true" data-toggle="table">
        <thead>
        <tr>
            <th data-sortable="true" data-field="data">Data</th>
            <th data-field="title">Título</th>
            <th data-align="center" data-field="link">Artigo</th>
        </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td id="data">{{item.date}}</td>
              <td id="title">{{item.title_clickable|safe}}</td>
              <td id="link"><a href={{item.url}} target="_blank"><img src="{{item.link_image}}" width="{{item.image_width}}" height="20"></a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>


<!-- Datatables: for some reason this needs to reloaded to trigger the rendering of the table -->
<script src="https://unpkg.com/bootstrap-table@1.18.1/dist/bootstrap-table.min.js"></script>