{% extends 'base.html' %}

{% block title %} Pesquisar {% endblock %}

{% block body %}


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-3">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>

    /*
     * jQuery UI Autocomplete: Using Label-Value Pairs
     * https://salman-w.blogspot.com/2013/12/jquery-ui-autocomplete-examples.html
     * https://github.com/salmanarshad2000/demos/blob/v1.0.4/jquery-ui-autocomplete/using-label-value-pairs.html
     */

    nomes = [];
    $.getJSON("static/persons.json", function(json_data){
        for (var i = 0, len = json_data.length; i < len; i++) {
            var person = {label: json_data[i].name, value: json_data[i].wiki_id};
            nomes.push(person);
        };
    });

    $(function() {
			$("#autocomplete").autocomplete({
				source: nomes,
        focus: function(event, ui) {
					// prevent autocomplete from updating the textbox
					event.preventDefault();
					// manually update the textbox
					$(this).val(ui.item.label);
				},
        select: function(event, ui) {
					// prevent autocomplete from updating the textbox
					event.preventDefault();
					// manually update the textbox and hidden field
					$(this).val(ui.item.label);
					$("#autocomplete-value").val(ui.item.value);
				}
      });
    });

    $(document).ready ( function () {
        $(document).on ("click", "#btn", function () {
            var wiki_id = $('#autocomplete-value').val();
            var data = { q: wiki_id, search: true};
            $.ajax({
              type: 'get',
              data: data,
              url: '/entity',
              error: function () {
                alert("There was an error processing this page.");
                return false;
              },
              complete: function (output) {
                $('#entityResults').html(output.responseText);
              }
            });
        });
    });

    </script>
        <form class="container-fluid justify-content-center align-items-center">
        <input type="hidden" id="autocomplete-value" type="text" name="wiki">
        <div class="control-group">
            <div class="controls controls-row row-fluid col-xs-4">
                <input id="autocomplete" class="span10" type="text" placeholder="Personalidade" />
                <button type="button" id='btn' class="btn btn-primary btn-sm">Seleccionar</button>
            </div>
        </div>
        </form>
        </header>

      <div id="entityResults" class="w-85 p-2" align="left">
    </div>


    </header>

  </div>

<br><br>

{% endblock %}
