{% extends 'base.html' %}

{% block title %} Pesquisar {% endblock %}

{% block body %}

  <div class="container">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

    /*
    * jQuery UI Autocomplete: Using Label-Value Pairs
    * https://salman-w.blogspot.com/2013/12/jquery-ui-autocomplete-examples.html
    * https://github.com/salmanarshad2000/demos/blob/v1.0.4/jquery-ui-autocomplete/using-label-value-pairs.html
    */

    nomes = [];
    $.getJSON("static/persons.json", function(json_data){
        for (var i = 0, len = json_data.length; i < len; i++) {
            var person = {label: json_data[i].name, value: json_data[i].wiki_id};
            nomes.push(person);
        };
    });

    parties = [];
    $.getJSON("static/parties.json", function(json_data){
        for (var i = 0, len = json_data.length; i < len; i++) {
            var party = {label: json_data[i].name, value: json_data[i].wiki_id};
            parties.push(party);
        };
    });

    /* Personalidade */
    $(function() {
      $("#autocomplete").autocomplete({
        source: nomes,
        focus: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox
            $(this).val(ui.item.label);
        },
        select: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox and hidden field
            $(this).val(ui.item.label);
            $("#autocomplete-value").val(ui.item.value);
        }
      });
    });

    /* Personalidade acusada por membros do mesmo partido */
    $(function() {
      $("#autocomplete_two").autocomplete({
        source: nomes,
        focus: function(event, ui) {
          // prevent autocomplete from updating the textbox
          event.preventDefault();
          // manually update the textbox
          $(this).val(ui.item.label);
        },

        select: function(event, ui) {
          // prevent autocomplete from updating the textbox
          event.preventDefault();
          // manually update the textbox and hidden field
          $(this).val(ui.item.label);
          $("#autocomplete_two-value").val(ui.item.value);

          var wiki_id = $('#autocomplete_two-value').val();
          var data = { entity: wiki_id};

          $.ajax({
            type: 'get',
            data: data,
            url: '/person_party',
            error: function () {
              alert("There was an error processing this page.");
              return false;
            },
            success: function (response) {
              // ToDo: expand this to the case with more party/other thing
              $('#autocomplete_two-partido-value').val(response.wiki_id);
              $('#autocomplete_partido').val(response.name);
            }
          });

        },


      });
    });

    /* Relações de um membros de um partido para uma pessoa */
    $(function() {
      $("#autocomplete_three_partido").autocomplete({
        source: parties,
        focus: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox
            $(this).val(ui.item.label);
        },
        select: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox and hidden field
            $(this).val(ui.item.label);
            $("#autocomplete_three_partido_value").val(ui.item.value);
        }
      });
    });

    $(function() {
      $("#autocomplete_three_pessoa").autocomplete({
        source: nomes,
        focus: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox
            $(this).val(ui.item.label);
        },
        select: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox and hidden field
            $(this).val(ui.item.label);
            $("#autocomplete_three_pessoa_value").val(ui.item.value);
        }
      });
    });


    $(document).ready ( function () {
        $(document).on ("click", "#btn_one", function () {
            var wiki_id = $('#autocomplete-value').val();
            var data = { q: wiki_id, search: true};
            $.ajax({
              type: 'get',
              data: data,
              url: '/entity',
              error: function () {
                alert("There was an error processing this page.");
                return false;
              },
              complete: function (output) {
                $('#entityResults').html(output.responseText);
              }
            });
        });

        $(document).on ("click", "#btn_two", function () {
            var entity_wiki_id = $('#autocomplete_two-value').val();
            var party_wiki_id = $('#autocomplete_two-partido-value').val();
            var data = { query_nr: 'one', entity: entity_wiki_id, party: party_wiki_id};
            $.ajax({
              type: 'get',
              data: data,
              url: '/queries',
              error: function () {
                alert("There was an error processing this page.");
                return false;
              },
              complete: function (output) {
                $('#entityResults').html(output.responseText);
              }
            });
        });

        $(document).on ("click", "#btn_three", function () {
            var entity_wiki_id = $('#autocomplete_three_pessoa_value').val();
            var party_wiki_id = $('#autocomplete_three_partido_value').val();
            var e = document.getElementById("dropdownMenuButton");
            var data = { query_nr: 'two',
                         entity: entity_wiki_id,
                         party: party_wiki_id,
                         relationship: e.textContent
                       };

            $.ajax({
              type: 'get',
              data: data,
              url: '/queries',
              error: function () {
                alert("There was an error processing this page.");
                return false;
              },
              complete: function (output) {
                $('#entityResults').html(output.responseText);
              }
            });
        });

        $(document).ready(function() {
           $(".dropdown-menu").on('click', 'a', function(){
             $(this).parents('.dropdown').find('button').text($(this).text());
           });
        });

    });

    </script>

    <header class="jumbotron my-3">
        <h4><p>Ver relações uma personalidade</p></h4>
        <form class="container-fluid justify-content-center align-items-center">
        <input type="hidden" id="autocomplete-value" type="text" name="wiki">
        <div class="control-group">
            <div class="controls controls-row row-fluid col-xs-4">
                <input id="autocomplete" class="span10" type="text" placeholder="Personalidade" />
                <button type="button" id='btn_one' class="btn btn-primary btn-sm">Seleccionar</button>
            </div>
        </div>
        </form>
    </header>

    <header class="jumbotron my-3">
        <h4><p>Personalidade acusada por membros do mesmo partido?</p></h4>
        <h6>e.g.: 'Quem dentro do PS se opôs a José Sócrates?'</h6>
        <form class="container-fluid justify-content-center align-items-center">
        <input id="autocomplete_two-value" type="hidden" name="wiki">
        <input id="autocomplete_two-partido-value" type="hidden" name="wiki">
        <div class="control-group">
            <div class="controls controls-row row-fluid col-xs-4">
                <input id="autocomplete_two" class="span10" type="text" placeholder="Personalidade" />
                <input id="autocomplete_partido" class="span10" type="text" placeholder="Partido" />
                <button type="button" id='btn_two' class="btn btn-primary btn-sm">Seleccionar</button>
            </div>
        </div>
        </form>
    </header>

    <header class="jumbotron my-3">
        <h4><p>Relações entre membros de um partido e uma determinada personalidade?</p></h4>
        <h6>e.g.: 'Que personalidades do BE se oposeram a Jerónimo de Sousa?'</h6>
        <br>
        <form class="container-fluid justify-content-center align-items-center">
          <input id="autocomplete_three_partido_value" type="hidden" name="wiki">
          <input id="autocomplete_three_pessoa_value" type="hidden" name="wiki">

          <div class="control-group">
              <div class="controls controls-row row-fluid col-xs-4">
                  <input id="autocomplete_three_partido" class="span10" type="text" placeholder="Partido" />

                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button"
                              id="dropdownMenuButton" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">opoe-se</button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item">opoe-se</a>
                          <a class="dropdown-item">apoia</a>
                    </div>


                </div>
                  <input id="autocomplete_three_pessoa" class="span10" type="text" placeholder="Personalidade" />
                  <button type="button" id='btn_three' class="btn btn-primary btn-sm">Seleccionar</button>
                </div>
          </div>
        </form>





    </header>

    <div id="entityResults" class="w-85 p-2" align="left"></div>

  </div>

<br><br>

{% endblock %}
