{% extends 'base.html' %}

{% block title %} Pesquisar {% endblock %}

{% block body %}


  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-3">

      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!--<link rel="stylesheet" href="/resources/demos/style.css">-->

      <script>
      $( function() {
        var availableTags = [
          "Abel Baptista",
        "Abel Carneiro",
        "Abel Lima Baptista",
        "Adalberto Campos Fernandes",
        "Adalberto Neiva",
        "Adalberto Neiva de Oliveira",
        "Adelino Amaro da Costa",
        "Adelino Gomes",
        "Ademar Santos",
        "Adolfo Morais de Macedo",
        "Adriano Moreira",
        "Afonso de Melo",
        "Afonso de melo",
        "Agostinho Santos",
        "Aires de Carvalho",
        "Alberto Arons Braga de Carvalho",
        "Alberto Arons de Carvalho",
        "Alberto Bernardes Costa",
        "Alberto Costa",
        "Alberto Fernando da Silva Santos",
        "Alberto Martins",
        "Alberto Oliveira e Silva",
        "Alberto Ralha",
        "Alberto S. Santos",
        "Alberto Vaz da Silva",
        "Alberto Villaverde Cabral",
        "Alda Macedo",
        "Alenka Smerkolj",
        "Alexander Graf Lambsdorff",
        "Alexandre Alves",
        "Alexandre Baptista",
        "Alexandre Faria",
        "Alexandre Honrado",
        "Alexandre Relvas",
        "Alfredo Barroso",
        "Alice Vieira",
        "Alice vieira",
        "Almeida Santos",
        "Altino Bernardo Lemos Bessa",
        "Altino Bessa",
        "Amaro da Costa",
        "Ana Catarina Mendes",
        "Ana Drago",
        "Ana Gomes",
        "Ana Isabel Drago Lobato",
        "Ana Jorge",
        "Ana Lamy",
        "Ana Lobato",
        "Ana Maria Gomes",
        "Ana Maria Teodoro Jorge",
        "Ana Mendes Godinho",
        "Ana Miranda",
        "Ana Rita Bessa",
        "Ana lamy",
        "Angela Dorothea Kasner",
        "Angela Dorothea Merkel",
        "Angela Merkel",
        "Annemarie Jorritsma",
        "Antonio Costa",
        "Antonio de Carvalho Martins",
        "Arlindo Gomes de Carvalho",
        "Arlindo de Carvalho",
        "Armando Bacelar",
        "Armando Filipe Cerejeira Pereira Bacelar",
        "Armando Pereira da Silva",
        "Armando Sevinate Pinto",
        "Armando Vara",
        "Armando dos Santos Martins",
        "Armando pereira da silva",
        "Arnaldo Matos",
        "Arons de Carvalho",
        "Ashraf Ghani",
        "Avelino Ferreira Torres",
        "Barbosa de Melo",
        "Basilio Farinha",
        "Beatriz Gebalina Pereira Gomes Dias",
        "Beatriz Gomes Dias",
        "Beatriz Pacheco Pereira",
        "Beatriz pacheco pereira",
        "Belchior Alves Pereira",
        "Belchior Pereira",
        "Belmiro Azevedo",
        "Belmiro Mendes de Azevedo",
        "Belmiro de Azevedo",
        "Bernardino Soares",
        "Bernardino Vasconcelos",
        "Berta Cabral",
        "Berta Maria Correia de Almeida de Melo Cabral",
        "Bolsonaro",
        "Bravo Nico",
        "Carla Maia de Almeida",
        "Carlos Aboim",
        "Carlos Aboim Inglez",
        "Carlos Alberto Martins Pimenta",
        "Carlos Alberto Pinto",
        "Carlos Alberto Rosa",
        "Carlos Alberto Soares Cardoso",
        "Carlos Alberto da Mota Pinto",
        "Carlos Alberto do Vale Gomes Carvalhas",
        "Carlos Alexandre",
        "Carlos Alfredo de Brito",
        "Carlos Borrego",
        "Carlos Brito",
        "Carlos Cadilha",
        "Carlos Candal",
        "Carlos Cardoso Lage",
        "Carlos Carreiras",
        "Carlos Carvalhas",
        "Carlos Castro",
        "Carlos Chaves de Macedo",
        "Carlos Coelho",
        "Carlos Correia",
        "Carlos Corvelo",
        "Carlos Costa",
        "Carlos Daniel",
        "Carlos Fino",
        "Carlos Hahnemann Saavedra de Aboim Inglez",
        "Carlos Jorge Ramalho dos Santos Ferreira",
        "Carlos Magno (jornalista)",
        "Carlos Magno Castanheira",
        "Carlos Martins Robalo",
        "Carlos Matias",
        "Carlos Mattos Chaves de Macedo",
        "Carlos Moedas",
        "Carlos Mota Pinto",
        "Carlos Pereira",
        "Carlos Pimenta",
        "Carlos Pinto",
        "Carlos Pinto Coelho",
        "Carlos Robalo",
        "Carlos Santos Ferreira",
        "Carlos Tavares",
        "Carlos Teixeira",
        "Carlos Zorrinho",
        "Carlos da Costa Neves",
        "Carlos de Brito",
        "Carlos magno (jornalista)",
        "Carlos pinto coelho",
        "Carlos tavares",
        "Carmelinda Maria dos Santos Pereira",
        "Carmelinda Pereira",
        "Carvalho Cardoso",
        "Carvalho da Silva",
        "Casimiro Francisco Ramos",
        "Catarina Marcelino",
        "Catarina Marcelino Rosa da Silva",
        "Catarina Martins",
        "Catarina Portas",
        "Catarina Sarmento e Castro",
        "Catarina Soares Martins",
        "Cavaco Silva",
        "Celeste Cardona",
        "Celeste Correia",
        "Chanceler da Alemanha",
        "Charles Michel",
        "Charles Reeve",
        "Chrys Chrystello",
        "Clara Ferreira Alves",
        "Clara Pinto Correia",
        "Clara pinto correia",
        "Correia de Campos",
        "Costa Martins",
        "Cristina Esteves",
        "Cristina Fonseca",
        "Cristina Maria da Fonseca Santos Bacelar Begonha",
        "Dagmar Roth-Behrendt",
        "Daniel Bessa",
        "Daniel Bessa Fernandes Coelho",
        "Daniel Campelo",
        "Daniel Oliveira",
        "Daniel Ricardo",
        "Daniel Sanches",
        "Daniel oliveira",
        "Daniel ricardo",
        "Daniel sanches",
        "David Lopes Ramos",
        "David lopes ramos",
        "Delfim Bismarck Ferreira",
        "Diana Andringa",
        "Diana Marina Dias Andringa",
        "Diana andringa",
        "Dias Coelho",
        "Diogo Feio",
        "Diogo Freitas do Amaral",
        "Diogo Pinto de Freitas do Amaral",
        "Diogo Vasconcelos",
        "Diogo de Freitas do Amaral",
        "Dmitri Serikov",
        "Domingos Abrantes",
        "Domingos Amaral",
        "Domingos Freitas do Amaral",
        "Domingos amaral",
        "Edgar Correia",
        "Edgar Freitas Gomes da Silva",
        "Edgar Maciel Almeida Correia",
        "Edgar Silva",
        "Edite Espadinha",
        "Edite Estrela",
        "Elisa Ferreira",
        "Elza Pais",
        "Eneas Comiche",
        "Eneias Comiche",
        "Eneias comiche",
        "Ernesto Ferraz",
        "Ernesto Martins de Brito",
        "Ernesto Sampaio",
        "Ernesto martins de brito",
        "Etelvina Lopes de Almeida",
        "Evaristo Carvalho",
        "Fatima Campos Ferreira",
        "Fernanda Freitas",
        "Fernanda Ramos",
        "Fernanda Seno",
        "Fernando Assis Pacheco",
        "Fernando Baeta Valle",
        "Fernando Condesso",
        "Fernando Correia",
        "Fernando Dacosta",
        "Fernando Faria de Oliveira",
        "Fernando Fitas",
        "Fernando Gomes",
        "Fernando Gomes Ka",
        "Fernando Ka",
        "Fernando Madrinha",
        "Fernando Medina",
        "Fernando Medina Maciel Almeida Correia",
        "Fernando Moniz",
        "Fernando Monteiro do Amaral",
        "Fernando Nobre",
        "Fernando Oliveira Baptista",
        "Fernando Pereira",
        "Fernando Pessoa",
        "Fernando Real",
        "Fernando Reis",
        "Fernando Ribeiro Moniz",
        "Fernando Rosas",
        "Fernando Santiago Mendes de Assis Pacheco",
        "Fernando Santos Martins",
        "Fernando Santos Pereira",
        "Fernando Seara",
        "Fernando Silva Oliveira Baptista",
        "Fernando Teixeira dos Santos",
        "Fernando Ulrich",
        "Fernando Valle",
        "Fernando Vilar",
        "Fernando assis pacheco",
        "Fernando baeta valle",
        "Fernando do Amaral",
        "Fernando dos Reis Condesso",
        "Fernando faria de oliveira",
        "Fernando real",
        "Fernando valle",
        "Fialho Isaac",
        "Filipa Martins",
        "Filipe Anacoreta Correia",
        "Filipe Soares Franco",
        "Filipe soares franco",
        "Fonso Roixo",
        "Francisca Almeida",
        "Francisca de Almeida",
        "Francisco Assis",
        "Francisco Cardoso dos Reis",
        "Francisco Igrejas Caeiro",
        "Francisco Lopes",
        "Francisco Madeira Lopes",
        "Francisco Maria Moita Flores",
        "Francisco Moita Flores",
        "Francisco Nebro",
        "Francisco Salgado Zenha",
        "Francisco Sarsfield Cabral",
        "Francisco Seixas da Costa",
        "Francisco Xavier Belo van Zeller",
        "Francisco cardoso dos reis",
        "Francisco de Almeida Salgado Zenha",
        "Francisco de Oliveira Dias",
        "Francisco moita flores",
        "Francisco van Zeller",
        "Fredrik Reinfeldt",
        "Freitas do Amaral",
        "Gabriela Canavilhas",
        "Gabriela Rocha Martins",
        "Garcia Pereira",
        "Garcia pereira",
        "Genealogista",
        "George Jamaloodin",
        "Germano da Silva Domingos",
        "Gestor",
        "Gil Moreira dos Santos",
        "Gilberto Madail",
        "Godinho Lopes",
        "Hajo Hoffmann",
        "Helder Amaral",
        "Helder Bataglia dos Santos",
        "Helena Lopes da Costa",
        "Helena Lopes da Silva",
        "Helena Maria de Oliveira Freitas",
        "Helena Neves",
        "Helena Pinto",
        "Helena Roseta",
        "Helena Vaz da Silva",
        "Igrejas Caeiro",
        "Isabel Carvalhais",
        "Isabel Castro",
        "Isabel Estrada Carvalhais",
        "Isabel Maria Estrada Carvalhais",
        "Isabel Maria de Almeida e Castro",
        "Isabel Moreira",
        "Isabel Mota",
        "Isabel Pires de Lima",
        "Isabel Santos",
        "Isabel de Lima Mayer Alves Moreira",
        "Isaltino Morais",
        "Isilda Gomes",
        "Isilda Maria Prazeres dos Santos Varges Gomes",
        "Ivo Batista Rosa",
        "Ivo Nelson de Caires Batista Rosa",
        "Ivo Rosa",
        "JES",
        "Jaime Adalberto Simoes Ramos",
        "Jaime Camacho",
        "Jaime Fernandes",
        "Jaime Gama",
        "Jaime Ornelas Camacho",
        "Jaime Ramos",
        "Jaime Reis",
        "Jaime Rocha",
        "Jaime Silva",
        "Jaime de Ornelas Camacho",
        "Jaime fernandes",
        "Jair Bolsonaro",
        "Jair Messias Bolsonaro",
        "Jamila Madeira",
        "Joacine Elysees Katar Tavares Moreira",
        "Joacine Katar Moreira",
        "Joana Amaral Dias",
        "Joana Barata Lopes",
        "Joana Catarina Barata Reis Lopes",
        "Joana Costa",
        "Joana Fernanda Ferreira Lima",
        "Joana Ferreira Lima",
        "Joao Lopes Porto",
        "Joel Hasse Ferreira",
        "Jorge Avelino Braga de Macedo",
        "Jorge Barreto Xavier",
        "Jorge Braga de Macedo",
        "Jorge Campinos",
        "Jorge Carvalho",
        "Jorge Cobanco",
        "Jorge Coelho",
        "Jorge Fallorca",
        "Jorge Fernando Branco Sampaio",
        "Jorge Fernando Branco de Sampaio",
        "Jorge Gabriel",
        "Jorge Machado",
        "Jorge Miranda",
        "Jorge Moreira da Silva",
        "Jorge Neto",
        "Jorge Pamplona Forjaz",
        "Jorge Pegado Liz",
        "Jorge Perestrelo",
        "Jorge Sampaio",
        "Jorge Silva Leite",
        "Jorge cobanco",
        "Jorge de Sampaio",
        "Jorge do Carmo da Silva Leite",
        "Jorge fallorca",
        "Jorge gabriel",
        "Jornalista (1944-2010)",
        "Jose Albino da Silva Peneda",
        "Jose Daniel Rosas Campelo da Rocha",
        "Jose Socrates",
        "Jose castelo branco",
        "Karine Lima",
        "Lara Fernandes Martinho",
        "Lara Martinho",
        "Leonardo Ribeiro de Almeida",
        "Leonor Beleza",
        "Leonor Xavier",
        "Lidia Jorge",
        "Lino Ribeiro",
        "Lino de Carvalho",
        "Lopes Cardoso",
        "Machado Correia",
        "Mafalda Cristina Mata de Oliveira Troncho",
        "Mafalda Troncho",
        "Maia Cadete",
        "Maldonado Gonelha",
        "Marcos Perestrello",
        "Margarida Balseiro Lopes",
        "Margarida Mano",
        "Margarida Marante",
        "Margarida Pinto Correia",
        "Margarida Salema Martins",
        "Margarida Salema d'Oliveira Martins",
        "Margarida pinto correia",
        "Maria Alves da Silva",
        "Maria Alves da Silva Cavaco Silva",
        "Maria Barroso",
        "Maria Barroso Soares",
        "Maria Begonha",
        "Maria Belo",
        "Maria Carrilho",
        "Maria Cavaco Silva",
        "Maria Celeste Ferreira Lopes Cardona",
        "Maria Celeste Lopes da Silva Correia",
        "Maria Clara Amado Pinto Correia",
        "Maria Clara Sottomayor",
        "Maria Francisca Fernandes de Almeida",
        "Maria Gabriela da Silveira Ferreira Canavilhas",
        "Maria Helena Passos Rosa Lopes da Costa",
        "Maria Helena do Rego da Costa Salema Roseta",
        "Maria Isabel Coelho Santos",
        "Maria Isabel Santos",
        "Maria Isabel da Silva Pires de Lima",
        "Maria Odete dos Santos",
        "Maria Santos",
        "Maria Teresa Rebolo",
        "Maria Teresa da Costa Macedo",
        "Maria Teresa da Silva Morais",
        "Maria do Carmo Seabra",
        "Maria do carmo seabra",
        "Mariana Aiveca",
        "Mariana Rosa Aiveca",
        "Mariana Vieira da Silva",
        "Mariana van Zeller",
        "Mariano Gago",
        "Marina Ferreira",
        "Marina Tavares Dias",
        "Marina ferreira",
        "Marina tavares dias",
        "Marinho Pinto",
        "Mario David",
        "Marisa Isabel dos Santos Matias",
        "Marisa Matias",
        "Marta Dhanis",
        "Marta Freitas",
        "Marta Temido",
        "Martim Afonso Pacheco Gracias",
        "Martim Cabral",
        "Martim Gracias",
        "Maximiano Martins",
        "Medeiros Ferreira",
        "Medina Carreira",
        "Merche Romero",
        "Mikhail Kasyanov",
        "Mira Amaral",
        "Miranda Calha",
        "Mohamad Chatah",
        "Moita Flores",
        "Moita flores",
        "Mota Amaral",
        "Narciso Mendes Dias",
        "Narciso Miranda",
        "Natalie Jaresko",
        "Natalino Viveiros",
        "Nicolas Vilas",
        "Nilza de Sena",
        "Odete Santos",
        "Oliveira Constantino",
        "Oliveira Dias",
        "Orlando Smith",
        "Osvaldo de Castro",
        "Otelo Saraiva de Carvalho",
        "Pacheco Pereira",
        "Padre Martins",
        "Padre Max",
        "Passos Coelho",
        "Pedro Almeida Vieira",
        "Pedro Arroja",
        "Pedro Bacelar de Vasconcelos",
        "Pedro Baptista",
        "Pedro Calado",
        "Pedro Canavarro",
        "Pedro Carlos da Silva Bacelar de Vasconcelos",
        "Pedro Feist",
        "Pedro Filipe Gomes Soares",
        "Pedro Filipe Soares",
        "Pedro Foyos",
        "Pedro Holstein Campilho",
        "Pedro Jose Del-Negro Feist",
        "Pedro Lynce",
        "Pedro Machado",
        "Pedro Machete",
        "Pedro Massano",
        "Pedro Morais Soares",
        "Pedro Mota Soares",
        "Pedro Pais de Almeida",
        "Pedro Palma",
        "Pedro Passos Coelho",
        "Pedro Pinto",
        "Pedro Pires de Miranda",
        "Pedro Rosa Mendes",
        "Pedro Roseta",
        "Pedro Santana Lopes",
        "Pedro Silva Martins",
        "Pedro Silva Pereira",
        "Pedro Siza Vieira",
        "Pedro Soares",
        "Pedro Teixeira Neves",
        "Pedro almeida vieira",
        "Pedro da Vinha Costa",
        "Pedro dos Santos Soares",
        "Pierre Gramegna",
        "Pinto Monteiro",
        "Pinto monteiro",
        "Presidente de Angola",
        "Presidente do Brasil",
        "Presidente do governo de Espanha",
        "Prodi",
        "Ramalho Eanes",
        "Ramiro Moreira",
        "Raya Haffar El Hassan",
        "Regina Bastos",
        "Regina Maria Pinto da Fonseca Ramos Bastos",
        "Ricardo Baptista Leite",
        "Ricardo Cardoso",
        "Ricardo Costa",
        "Ricardo Fonseca Almeida",
        "Ricardo Fonseca de Almeida",
        "Ricardo Leite",
        "Ricardo Paiva Costa",
        "Ricardo Reis",
        "Ricardo Rio",
        "Ricardo Salgado",
        "Ricardo da Costa",
        "Ricardo de Paiva da Costa",
        "Richard Zimler",
        "Rita Rato",
        "Roberta Angelilli",
        "Roberta Medina",
        "Roberto Carneiro",
        "Roberto carneiro",
        "Rodolfo Crespo",
        "Roman Konoplev",
        "Romano Prodi",
        "Rosa Dart",
        "Rosa Maria Brasil Dart",
        "Rosa Maria Correia dos Santos Mota",
        "Rosa Mota",
        "Rosado Fernandes",
        "Salgado Zenha",
        "Salvador Malheiro Ferreira da Silva",
        "Salvador Massano Cardoso",
        "Sandra Maria de Brito Pereira",
        "Sandra Pereira",
        "Sara Cerdas",
        "Serenella Andrade",
        "Sharif Rahimzoda",
        "Silva Peneda",
        "Sita Valles",
        "Sita valles",
        "Sofia Cabral",
        "Sofia Isabel Diniz Pereira Conde Cabral",
        "Sofia Pinto Coelho",
        "Sofia Ribeiro",
        "Sofia de Melo Breyner Andresen",
        "Sophia Melo Breyner",
        "Sophia de Mello",
        "Sophia de Mello Breyner Andresen",
        "Sophia de Melo Breyner",
        "Tavares Moreira",
        "Telmo Correia",
        "Teodomiro Leite de Vasconcelos",
        "Teofilo Carvalho dos Santos",
        "Teresa Almeida Garrett",
        "Teresa Caeiro",
        "Teresa Costa Macedo",
        "Teresa Leal Coelho",
        "Teresa Morais",
        "Teresa Pais",
        "Teresa de Andrade Leal Coelho",
        "Teresa de Vasconcelos Caeiro",
        "Tino de Rans",
        "Tito de Morais",
        "Trigo Pereira",
        "Uta Nickel",
        "Valente de Oliveira",
        "Vasco Cordeiro",
        "Vasco Garcia",
        "Vasco Rato",
        "Vasco da Gama Fernandes",
        "Vasco da Gama Lopes Fernandes",
        "Vicente Jorge Lopes Gomes da Silva",
        "Vicente Jorge Silva",
        "Victor Crespo",
        "Victor Pereira Crespo",
        "Vieira de Carvalho",
        "Viriato Teles",
        "Viriato teles",
        "Vital Martins Moreira",
        "Vital Moreira",
        "Vitalino Canas",
        "Vitor Pereira Crespo",
        "Vitor Ramalho",
        "Vitor gaspar",
        "Vitorino Francisco da Rocha e Silva",
        "Vitorino Silva",
        "Walter Alfredo Agosto",
        "Walter Rosa",
        "Walter rosa",
        "Wopke Hoekstra",
        "Yoshihiko",
        "Yoshihiko Noda",
        "Zainab Ahmed",
        "Zapatero",
        "Zeinal Bava",
        "Zita Maria de Seabra Roseiro",
        "Zita Seabra"
        ];
        $( "#tags" ).autocomplete({
          source: availableTags
        });
      } );
      </script>

      <div class="ui-widget">
        <label for="tags">Personalidade: </label>
        <input id="tags">
      </div>

      <div id="inner" class="w-85 p-2" align="left">
         <br>
         <h5><a href="/queries?q=example_1"><b>Personalidades do PS que acusaram ou se oposeram a José Sócrates</b></a></h5>
         <br>
         <h5><b>Listar relações familiares existentes no grafo</b></h5>
         <br>
       </div>

    </header>

  </div>

<br><br>

{% endblock %}