{% extends 'base.html' %}

{% block title %} Estatísticas {% endblock %}

{% block body %}

<div class="container" id="container">

    <div id="inner" class="w-100 p-1">

    <br>

    <center>
    <h4>
        <a href="/entities">{{items.nr_persons}} personalidades</a>
        <br><br>
        <a href="/parties">{{items.nr_parties}} partidos políticos</a>
    </h4>
    </center>
    <br>
    <h4><b><center>{{items.nr_all_no_other_articles}} notícias analisadas </center></b></h4>
    <br><br>

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <br><br>
            <canvas id="articles_rel_type" width="1000" height="250"></canvas>
        </div>
    </div>
    <br><br>

    <h4><b><center>Nº Relações/Artigos por Personalidade</center></b></h4>
    <center>
        <button id="btn_per_freq" class="btn btn-primary" type="button" data-toggle="collapse"
                data-target="#rel_articles_per" aria-expanded="false"
                aria-controls="rel_articles_per">Mostrar</button>
    </center>
    <div class="container h-100">
        <div class="collapse" id="rel_articles_per">
            <canvas id="horizontal_barchart_per_freq" width="700" height="1900"></canvas>
        </div>
    </div>

    <br><br>

    <h4><b><center>Top de co-ocorrências de personalidades</center></b></h4>
    <center>
        <button id="btn_per_per" class="btn btn-primary" type="button" data-toggle="collapse"
                data-target="#per_co_occurrence" aria-expanded="false"
                aria-controls="per_co_occurrence">Mostrar</button>
    </center>
    <div class="container h-100">
        <div class="collapse" id="per_co_occurrence">
            <canvas id="horizontal_barchart_per_co_occurrence" width="700" height="1900"></canvas>
        </div>
    </div>

    <script>
        // articles rel-type, year
        var ctx = document.getElementById('articles_rel_type');
        var color = Chart.helpers.color;
        var year_labels = {{ items['nr_articles_year_labels']|tojson }};
        var opposes = {{ items['opposes']|tojson }};
        var supports = {{ items['supports']|tojson }};

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: year_labels,
                datasets: [
                {
                    label: 'oposição',
                    backgroundColor: "#FF0000",
                    data: opposes
                },
                {
                    label: 'apoio',
                    backgroundColor: "#44861E",
                    data: supports,
                },

                /*
                {
                    label: 'ent1_opposes_ent2',
                    backgroundColor: "#FF0000",
                    data: ent1_opposes_ent2
                }, 
                {
                    label: 'ent2_opposes_ent1',
                    backgroundColor: "#980000",
                    data: ent2_opposes_ent1,
                }, 
                {
                    label: 'ent1_supports_ent2',
                    backgroundColor: "#44861E",
                    data: ent1_supports_ent2,
                }, 
                {
                    label: 'ent2_supports_ent1',
                    backgroundColor: "#70DA33",
                    data: ent2_supports_ent1,
                },
                {
                    label: 'ent1_other_ent2',
                    backgroundColor: "#d4d4d4",
                    data: ent1_other_ent2,
                },
                {
                    label: 'ent2_other_ent1',
                    backgroundColor: "#171717",
                    data: ent2_other_ent1,
                },
                */
                ],
            },
            options: {
                tooltips: {
                    displayColors: true,
                    callbacks:{
                        mode: 'x',
                    },
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                        gridLines: {
                            display: false,
                        }
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true,
                        },
                        type: 'linear',
                    }]
                },
                responsive: true,
                maintainAspectRatio: false,
                legend: { position: 'bottom' },
            }
        });

        // Person Freq.
        var ctx = document.getElementById('horizontal_barchart_per_freq');
        var color = Chart.helpers.color;
        var per_freq_labels = {{ items['per_freq_labels']|tojson }};
        var per_freq_values = {{ items['per_freq_values']|tojson }};
        var myBarChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {labels: per_freq_labels,
                datasets: [{
                        label: 'No. of articles',
                        backgroundColor: "#4d6072",
                        data: per_freq_values
                        }]
                }
        });

        // Person Co-Occur. Freq.
        var ctx = document.getElementById('horizontal_barchart_per_co_occurrence');
        var color = Chart.helpers.color;
        var per_co_occ_labels = {{ items['per_co_occurrence_labels']|tojson }};
        var per_co_occ_values = {{ items['per_co_occurrence_values']|tojson }};
        var myBarChart = new Chart(ctx, {
                type: 'horizontalBar',
                data: {labels: per_co_occ_labels,
                    datasets: [{
                            label: 'No. of articles',
                            backgroundColor: "#4d6072",
                            data: per_co_occ_values
                            }]
                    },
                options: {
                    scales: {
                        XAxes: [{barThickness : 12373}]
                    }
                }
        });

        $('#btn_per_freq').on('click', function(){
            $(this).text(function(i,old){
                return old=='Mostrar' ?  'Esconder' : 'Mostrar';
                });
        });

        $('#btn_per_per').on('click', function(){
            $(this).text(function(i,old){
                return old=='Mostrar' ?  'Esconder' : 'Mostrar';
                });
        });


    </script>

    </div>

    <br><br>

</div>

{% endblock %}
