{% extends 'base.html' %}

{% block title %} Estatísticas {% endblock %}

{% block body %}

    <div id="inner" class="w-100 p-1">

    <br><br>

    <div class="container d-flex align-items-center justify-content-center">
        <div class="w-75 p-2" align="center">
            <center>
                <h4><a href="/entities"><b>{{items.nr_persons}} personalidades políticas</b></a></h4>
            </center>
            <br><br>
            <center>
                <h4><a href="/parties"><b>XX partidos políticos</b></a></h4>
            </center>
         </div>
    </div>

    <br>

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h4><b>{{items.nr_articles}}</b> títulos de artigos analisados</h4>
            <br><br>
            <canvas id="myChart" width="1000" height="250"></canvas>
        </div>
    </div>

    <br><br>

    <script>
        var ctx = document.getElementById('myChart');
        var color = Chart.helpers.color;

        var year_labels = {{ items['year_labels']|tojson }};
        var year_articles = {{ items['year_articles']|tojson }};

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {labels: year_labels,
                   datasets: [
                {
                  label: 'No. of articles',
                  backgroundColor: "#4d6072",
                  // backgroundColor: "#77828e",
                  data: year_articles
                }
              ]
            }
        });
    </script>

{% endblock %}