{% block body %}

<center>
    <h5><b>Personalidades do <a href="#">X</a> que REL <a href="#">Y</a></b></h5>
</center>

<br>

<div id="outer" class="container d-flex align-items-center justify-content-center">
    <div class="media" style="display:table-cell; vertical-align:middle">
        <table class="table">
          <tbody>
          {% for item in items %}
            <tr>
                <td>
                <figure class="figure">
                    <img src={{item.ent1.image_url}} class="figure-img img-fluid rounded" width="60" height="75">
                    <figcaption class="figure-caption" style="text-align:center;">
                        <a href=/entity?q={{item.ent1.wiki_id}}>{{item.ent1.name}}</a>
                    </figcaption>
                </figure>
                </td>
              <td>{{item.article_date}}</td>
              <td><a href="{{item.article_url}}">{{item.article_title}}</a></td>
              <td>{{item.rel_score}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>

<br><br>

{% endblock %}
